.select-icon-widget {
  .show-icon {
    font-size: 40px;
    color: gray;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 0.5rem;
    background: #fafafa;
  }
  
  .text-icon {
    font-size: 14px;
    color: grey;
  }

  .icon-container {
    width: 15px
  }

  .label-container {
    margin-left: 15px;
    text-align: left;
    width:  100%;
  }

  .ml-4 {
    margin-left: 4px;
  }
}