.section-homepage,
.template-search {
    #portal-breadcrumbs {
        display: none;
    }
}

.template-newsitem_view {
    #portal-breadcrumbs {
        li {
            &:last-of-type {
                display: none;
            }
        }
    }
}

#portal-breadcrumbs {
    background: $gray-bg;
    padding: 0;

    ol {
        @extend .list-unstyled, .list-inline;
        font-size: 0.95em;
        font-weight: $light;
        padding: 10px 0px;
        margin: 0;

        li {
            padding: 0;

            &:before {
                content: '/';
                padding: 0 0.4em;
            }

            &:nth-child(-n + 2) {
                padding: 0 0.4em;
                &:before {
                    display: none;
                }
            }

            a {
                color: $brand-primary;

                &:focus,
                &:hover {
                    color: #000;
                }
            }
        }

        li#breadcrumbs-home {
            padding-left: 0;

            a {
                display: inline-flex;
                width: 1.125em;
                padding-left: 1.5em;
                padding-right: 0;
                overflow: hidden;
                height: 100%;
                position: relative;

                .fa-home {
                    position: absolute;
                    top: calc(50% - 0.5em);
                    left: 0;
                }
            }
        }
    }
}
