@import 'events_plone50';

body.portaltype-event {
    ul.event.summary.details {
        float: right;
        max-width: 350px;
        padding: 1.3rem 1.5rem;
        margin: 0 0 2.5rem 2.5rem;
        border: 1px solid $gray;
        border-radius: 0;
        //background-color: transparent;
        border-width: 2px 0;
        list-style: none;

        abbr {
            text-decoration: none;
        }

        li {
            display: flex;
            flex-direction: column;
            padding: 0.4rem 0;

            strong {
                text-transform: uppercase;
                font-size: 0.75em;
                font-weight: $regular;
            }

            span {
                font-weight: $semibold;
            }
        }

        @media (max-width: $screen-xs-max) {
            float: none;
            max-width: 100%;
            margin-left: 0;
        }
    }

    #parent-fieldname-text {
        clear: left;

        @media screen and (max-width: $screen-xs-max) {
            clear: both;
        }
    }
}

// form event
.template-event {
    div.riform {
        form {
            h1 {
                font-size: 3rem;
            }

            #rirtemplate {
                .label {
                    display: block;
                    float: none;
                    text-align: left;
                    margin: 0;
                    text-transform: uppercase;
                    width: auto;
                }

                select {
                    padding: 0;
                }

                input[type='button'] {
                    display: inline-block;
                    margin-bottom: 0; // For input.btn
                    font-weight: $semibold;
                    text-align: center;
                    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
                    vertical-align: middle;
                    cursor: pointer;
                    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
                    border: 1px solid transparent;
                    white-space: nowrap;
                    padding: 6px 12px;
                    font-size: inherit;
                    line-height: inherit;
                    border-radius: 2px;

                    color: #4d4d4d;
                    background-color: #e5e5e5;
                    border-color: #b2b2b2;

                    margin-top: 0.5rem;
                }

                input[type='submit'][value='save'] {
                    color: #ffffff;
                    background-color: #007bb1;
                    border-color: #00587e;
                }

                div.rioccurrencesactions .rioccurancesheader {
                    margin-bottom: 5px;
                }
            }
        }
    }

    #calroot {
        #calhead {
            #caltitle {
                select {
                    padding: 0;
                }
            }
        }
    }
}

.template-event_view {
    ul.event.summary.details {
        li.event-calendar {
            img {
                display: none;
            }
        }
    }
}

.template-event_listing {
    .cal_info {
        .documentByLine {
            margin: 5px 0;
            opacity: 0.75;
            display: inline-block;
        }
    }

    article.vevent {
        display: flex;
        padding: 1.4rem 0 1rem;
        border-top: 3px solid $text-color;

        .cal_info {
            margin: 0;
            flex-grow: 2;

            h2 {
                margin: 0;
            }

            ul.metadata {
                margin-bottom: 0;
            }
        }

        .cal_date {
            margin: 1rem 4% 0 0;

            span.cal_month {
                background-color: $brand-primary;
                color: #fff;
                padding: 0.2em 0.5em;
                font-weight: $semibold;
                text-transform: uppercase;
                font-size: 0.8em;
            }
        }

        a.event_ical {
            img {
                display: none;
            }

            svg {
                margin-right: 0.5rem;
            }
        }
    }
}

.template-full_view {
    abbr {
        border: 0;
        text-decoration: none;
        cursor: inherit;
    }
}
