#portal-footer-wrapper {
    background-color: $footer-bg;
    // overflow: auto;
    padding: 50px 0px;
    color: #fff;

    .portal-footer {
        @include make-container;
        padding-left: 0;
        padding-right: 0;
    }

    img {
        max-width: 100%;
    }

    a {
        color: $footer-link;
        text-decoration: underline;

        &:hover {
            color: $footer-link-hover;
            border: 0;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            padding-bottom: 5px;

            &:before {
                padding-right: 15px;
                @include make-ita('\23f5', #fff);
                font-size: 0.4em;
            }
        }
    }

    .footer-logo,
    .footer-actions {
        display: block;
        width: 100%;
        clear: both;
    }

    .footer-logo {
        padding-left: 15px;

        img {
            max-width: 80vw;
        }
    }

    .footer-actions {
        padding: 5px 15px 0;

        ul {
            list-style: none;
            width: 100%;
            padding-left: 0;

            li {
                display: inline-block;
                padding-right: 20px;

                &:before {
                    display: none;
                }
            }
        }

        hr {
            max-width: 100%;
        }
    }

    ul.footer-social {
        @extend .list-inline;
        display: inline-block;

        li {
            float: left;

            a {
                display: inline-block;

                i:before,
                &:before,
                svg {
                    display: inline-block;
                    border-radius: 100%;
                    background-color: $footer-link;
                    width: 3rem;
                    height: 3rem;
                    text-align: center;
                    font-size: 2rem;
                    line-height: 3rem;
                    color: $footer-bg;
                }

                &:before {
                    color: #fff;
                }

                svg {
                    padding: 0.5rem;
                }

                &.st {
                    &:before {
                        content: '';
                        vertical-align: bottom;
                        background-image: url($img-path+'storify.svg');
                        background-size: 2rem;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
                &.medium:before {
                    background-image: url($img-path+'medium.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 75%;
                    content: '';
                }
                &.newsletter:before {
                    content: '';
                    background-image: url($img-path+'newsletter.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 75%;
                }

                &:focus,
                &:hover {
                    i:before,
                    &:before,
                    svg {
                        background-color: $gray;
                        color: #fff;
                    }

                    &.st {
                        &:before {
                            background-image: url($img-path+'storifyHover.svg');
                        }
                    }

                    &.medium {
                        &:before {
                            background-image: url($img-path+'mediumHover.svg');
                        }
                    }

                    &.newsletter {
                        &:before {
                            background-image: url($img-path+'newsletterHover.svg');
                        }
                    }
                }

                span {
                    @extend .sr-only;
                }
            }

            &:before {
                display: none;
            }
        }
    }

    .newsletter {
        &:before {
            @include make-ita('\1f4e7', #eee);
            display: block;
            font-size: 1.5em;
        }
    }

    hr {
        border-color: $footer-hr;
        margin-left: 0;
        width: 100%;
        max-width: 300px;
    }

    .portletHeader {
        display: none;
    }
}
