.section-homepage {
    #portal-top {
        background: #fff;
    }

    #viewlet-below-content,
    #portal-column-two,
    #content header {
        display: none;
    }

    #portal-column-content,
    #column-wrapper {
        padding: 0;
        width: 100%;
    }
}
