.leadImage {
    figure {
        position: relative;

        figcaption {
            background: rgba(0, 0, 0, 0.75);
            padding: 0.3em 0.6em;
            color: #fff;
            font-size: 0.8em;
        }

        a {
            display: block;
            color: #fff;
        }
    }
}
