// styles for pat-leaflet
// used to create maps (i.e.: in collective.venue)

.pat-leaflet,
.collection-leaflet-map {
    .awesome-marker {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin-bottom: 1em;
        }
    }

    .leaflet-popup-content {
        a {
            color: $link-color;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: $link-hover-color;
            }
        }
    }
}
