#document-toc {
    display: block !important;
    background: #eee;
    padding: 1rem 2em;
    margin-bottom: 0;

    .portletContent {
        display: none;
    }

    .portletHeader {
        background: $tr;
        border-bottom: 0 none;
        font-size: 1.6rem;
        font-weight: $semibold;
        text-transform: uppercase;
        padding: 0;
        margin: 2rem 0 2rem;
        line-height: 1;

        i,
        svg {
            margin-right: 1rem;
            font-size: 1.5rem;
        }
    }
}

#parent-fieldname-text.pat-autotoc {
    .autotoc-nav {
        margin: 0 0 2rem;
        padding: 0 1rem 2.5rem;
        background: #eee;

        a {
            border-bottom: 0 none;
            color: $link-color;
            text-decoration: underline;

            svg {
                margin-right: 1rem;
                font-size: 1.5rem;
                color: #555;
            }

            &:focus,
            &:hover {
                color: $link-hover-color;
            }
        }
    }
}
