$aree-tematiche-gutter: 50px;

.template-homepage_view,
.template-tiles_view,
.template-tiles_page_view {
    .tile-container,
    .existing-content-tile,
    .aree-tematiche-collection,
    [class*='collection-container'] {
        @include clearfix;
    }
}

.template-homepage_view,
.template-tiles_page_view {
    .tileWrapper:not([class*='colonna']) {
        .tile-container,
        .existing-content-tile,
        .aree-tematiche-collection,
        [class*='collection-container'] {
            @include make-container;
        }
    }

    #viewlet-below-content {
        display: none;
    }
}

[class*='ColumnsPage'] {
    .template-tiles_page_view & {
        @include make-container($aree-tematiche-gutter);
    }
    &,
    .template-tiles_view &,
    .template-tiles_page_view & {
        .tilesList {
            display: flex;
            flex-wrap: wrap;
            margin-left: -($aree-tematiche-gutter / 2);
            margin-right: -($aree-tematiche-gutter / 2);
        }
        .tileWrapper {
            @include make-sm-column(6, $aree-tematiche-gutter);
            clear: none;
        }
    }
}

.ThreeColumnsPage {
    &,
    .template-tiles_view &,
    .template-tiles_page_view & {
        .tileWrapper {
            @include make-md-column(4, $aree-tematiche-gutter);
        }
    }
}

.FourColumnsPage {
    &,
    .template-tiles_view &,
    .template-tiles_page_view & {
        .tileWrapper {
            @include make-md-column(3, $aree-tematiche-gutter);
        }
    }
}
