.discreet {
    color: $text-color-light;
}

h1.documentFirstHeading {
    margin-top: 0;
    font-weight: $semibold;
}

#content-core {
    ul,
    ol {
        li {
            padding-bottom: 0.4em;
        }
    }
}

p.callout {
    margin: 2em 0;
}

blockquote {
    float: right;
    max-width: 350px;
    margin-left: 2em;
}

#parent-fieldname-text {
    @extend .clearfix;
}

#column-wrapper {
    img {
        max-width: 100%;
    }
}
