.select-icon-widget {
  .show-icon {
    font-size: 40px;
  }

  .icon-container {
    width: 15px;
  }

  .label-container {
    margin-left: 15px;
    text-align: left;
    width: 100%;
  }

  .ms-4 {
    margin-left: 4px;
  }
}
