.vscode/
logs
*.log
npm-debug.log*
.DS_Store

coverage
node_modules
build
src/addons
.env.local
.env.development.local
.env.test.local
.env.production.local

data
omelette
docker-compose.yml
Dockerfile
.git
.gitignore
