.vscode/
.history
logs
*.log
npm-debug.log*
.DS_Store
src/addons
/project/
/addon-testing-project/

coverage
node_modules
build
cache
.env.local
.env.development.local
.env.test.local
.env.production.local

data
omelette
var

locales/*.json

# Yarn 3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
