.DS_Store
src/redturtle/agidtheme/browser/static/ellipsed
.coverage
.history/
*.egg-info
*.log
*.mo
*.py?
*.swp
# Only use yarn
package-lock.json
# dirs
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
parts/
node_modules
src/*
test.plone_addon/
var/
# files
.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/redturtle
/share/
/extras/
