graft src/design
graft docs
include LICENSE
include *.rst
include publiccode.yml
global-exclude *.pyc
include *.js
include *.json
exclude yarn.lock
exclude .nvmrc
include .eslintrc
include .stylelintignore
include .prettierignore
prune node_modules
prune src/design/plone/theme/theme/node_modules
include src/design/plone/theme/browser/static/ellipsed
