graft src/redturtle
graft docs
include LICENSE
include *.rst
global-exclude *.pyc
exclude package-lock.json
include *.js
include *.json
include *.lock
include .eslintrc
prune node_modules
prune src/redturtle/agidtheme/theme/node_modules
include src/redturtle/agidtheme/browser/static/ellipsed
