.calendar {
  margin: 3rem 0;

  .full-width {
    height: 604px;
  }

  @media (max-width: 600px) {
    margin: 0;
  }

  .calendar-header {
    padding: 0.35rem;
    background: $primary;

    h3 {
      margin: 0 !important;
      color: $white !important;
    }
  }

  .slick-dots {
    bottom: -3rem;
  }

  .dot {
    li {
      button {
        &:before {
          font-size: 1rem;
        }
      }
    }
  }

  .calendar-body {
    height: 368px;
    padding: 0rem 1rem;

    .body {
      height: 368px;
      padding: 1rem 1rem 1rem 1rem;
      overflow-y: auto;
    }

    .body:not(:last-child) {
      box-shadow: 12px 0 9px -6px $neutral-1-a2;
    }
  }

  .card.card-bg {
    &:after {
      content: none;
    }
  }

  .day {
    font-family: $font-family-monospace;
    font-size: 2.4rem;
    font-weight: 100;
  }

  .day-week {
    font-family: $font-family-monospace;
    font-weight: 400;
  }

  .calendar-item {
    .calendar-type {
      font-size: 0.8rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    .scadenza_message {
      color: $complementary-1-b5;
      font-size: 0.8em;
    }
  }
}
