.grid-gallery-template {
  .grid-gallery-grid {
    width: 100%;

    @supports (display: grid) {
      display: grid;
      grid-auto-flow: dense;
      grid-auto-rows: 50px;
      grid-gap: 15px;
      grid-template-columns: 1fr 1fr 1fr;

      @media (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        grid-auto-rows: 160px;
      }
    }

    @supports not (display: grid) {
      display: flex;
      flex-wrap: wrap;
    }

    .grid-gallery-item {
      box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.26);
      border-radius: 4px;
      height: 100%;
      display: flex;
      align-items: flex-end;
      text-decoration: none;
      overflow: hidden;
      position: relative;

      @supports (display: grid) {
        grid-column: span 1;

        &.item-0 {
          grid-column: 1;
          grid-row: span 8;
        }

        &.item-1 {
          grid-column: 1;
          grid-row: span 4;
        }

        &.item-2,
        &.item-4 {
          grid-column: 2;
          grid-row: span 5;
        }

        &.item-3 {
          grid-column: 2;
          grid-row: span 2;
        }

        &.item-5 {
          grid-column: 3;
          grid-row: span 4;
        }

        &.item-6 {
          grid-column: 3;
          grid-row: span 8;
        }

        @media (max-width: 767px) {
          &.item-5,
          &.item-6 {
            grid-column: auto;
          }
        }

        @media (max-width: 600px) {
          &.item-0,
          &.item-1,
          &.item-2,
          &.item-3,
          &.item-4,
          &.item-5,
          &.item-6 {
            grid-column: 1;
            grid-row: auto / span 1;
          }
        }
      }

      @supports not (display: grid) {
        width: calc((100% - 30px) / 3);
        margin: 0 5px 10px;

        a {
          min-height: 160px;
        }

        @media (max-width: 767px) {
          width: calc((100% - 20px) / 2);
        }

        @media (max-width: 600px) {
          width: 100%;
          margin: 0 0 10px;
        }
      }

      img {
        position: absolute;
        object-position: center;
        object-fit: cover;
        width: 100%;
        min-height: 100%;
      }

      h3 {
        color: #fff;
        margin: 0;
        position: relative;
        z-index: 1;
        align-self: flex-end;
        text-align: left;
        width: 100%;
      }

      a {
        padding: 1rem;
        position: relative;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #fff;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5);
          opacity: 0.4;
          transition: opacity 0.3s ease;
          z-index: 1;
        }

        &:hover,
        &:focus {
          h3 {
            text-decoration: underline;
          }

          &::before {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
