.block.listing {
  .full-width {
    height: unset;
  }

  .event-recurrences-more {
    position: absolute;
    bottom: $v-gap * 8;

    display: flex;
    align-items: center;
    color: $card-link-color;
    font-size: $card-category-size;
    letter-spacing: $card-category-l-spacing;
  }

  .card-persona {
    .card-image-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .card-image {
        flex: 1 1 30%;
      }
    }
  }
}
