.block.newsHome {
  .empty-selection {
    padding: 0.5em;
    background-color: #eee;
    text-align: center;
  }

  .item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-title {
    a {
      color: $text-color;
      font-size: 1.8rem;
      line-height: 2.3rem;
      text-decoration: none;
      transition: 0.2s color ease;

      &:hover,
      &:focus {
        color: $link-color;
        text-decoration: underline;
      }
    }
  }
}
