.photogallery {
  margin: 40px 0;

  .col-item {
    margin-bottom: 22px;
  }

  figure.img-wrapper {
    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      padding: 0.5em 1em;
      color: #666;
      font-size: 0.8em;
      text-align: center;
    }
  }

  .title {
    margin-bottom: 60px;
  }

  .slick-prev {
    outline: none !important;

    &:before {
      color: $primary;
    }
  }

  .slick-next {
    outline: none !important;

    &:before {
      color: $primary;
    }
  }

  .slick-dots {
    position: unset;
    bottom: unset;

    ul {
      padding: 0;
      margin: 0;
    }

    .play-pause-wrapper {
      text-align: left;

      button {
        border: none;
        background: none;

        .icon {
          width: 1em;
          height: 1em;
          color: $link-color;
        }
      }
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  @media (max-width: #{map-get($grid-breakpoints, md)}) {
    .slick-arrow.slick-prev {
      left: -20px;
    }

    .slick-arrow.slick-next {
      right: -20px;
    }
  }
}
