.photogallery {
  margin: 40px 0;

  .col-item {
    margin-bottom: 22px;
  }

  .img-wrapper img {
    width: 100%;
    height: 230px;
  }

  .title {
    margin-bottom: 60px;
  }

  .slick-prev {
    outline: none!important;
    &:before {
      color: $primary;
      background-color: #eee;
    }
  }

  .slick-next {
    outline: none!important;
    &:before {
      color: $primary;
      background-color: #eee;
    }
  }

}
