.photogallery {
  margin: 40px 0;

  .col-item {
    margin-bottom: 22px;
  }

  figure.img-wrapper {
    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      color: #666;
      font-size: 0.8em;
      text-align: center;
      padding: 0.5em 1em;
    }
  }

  .title {
    margin-bottom: 60px;
  }

  .slick-prev {
    outline: none !important;
    &:before {
      color: $primary;
      background-color: #eee;
    }
  }

  .slick-next {
    outline: none !important;
    &:before {
      color: $primary;
      background-color: #eee;
    }
  }

  @media (max-width: #{map-get($grid-breakpoints, md)}) {
    .slick-arrow.slick-prev {
      left: -20px;
    }

    .slick-arrow.slick-next {
      right: -20px;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }
}
