.container .block {
  height: auto;

  .searchSections {
    width: 100%;
    min-height: 280px;
    height: auto;
    padding: 10px 50px;
    @media (max-width: #{map-get($grid-breakpoints, lg) - 1px}) {
      padding: 10px 6px;
    }

    background-color: $secondary;

    .searchContainer {
      padding: 0px 12%;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 56px 0;

      @media (max-width: #{map-get($grid-breakpoints, lg) - 1px}) {
        padding: 0px 10px;
      }
      input.inputSearch {
        border: none;
        border-radius: 0;
        outline: 0;
        width: 96%;
        box-shadow: none;
        transition: 0.2s ease-out;
        font-weight: 500;
        height: 100%;
        width: 100%;
        padding: 0;
      }

      .searchbar {
        position: relative;
        height: 45px;
        padding: 5px 14px;

        button {
          position: absolute;
          top: 0;
          right: 0;

          display: flex;
          width: 50px;
          height: 100%;
          align-items: center;
          justify-content: center;
          border-width: 0px;

          background: $primary;

          &:hover,
          &:active {
            background-color: darken($primary, 7.5);
          }
        }
      }
    }
  }
}

.buttonsContainer {
  flex-wrap: wrap;

  button.btn.btn-sm {
    margin: 10px 10px 10px 0px;
  }
}
