.simple-card-default {
  .template-header {
    &.with-filters {
      border-bottom: 1px solid $neutral-1-a2;
      margin-bottom: 1em;

      .path-filter-buttons {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }

      h2,
      .path-filter-buttons-wrapper {
        margin-bottom: 1rem;
      }
    }
  }

  .data:before {
    content: none;
  }

  .card.card-teaser {
    &:after {
      content: none;
    }

    .categoryicon-top .icon {
      width: 32px;
      height: 32px;
      color: $secondary;
      fill: $secondary;
      font-weight: 600;
    }

    .card-body {
      a {
        &:link,
        &:visited {
          text-decoration: none;
        }
      }

      a {
        &:hover,
        &:active {
          text-decoration: underline;
        }
      }

      .card-title {
        margin-bottom: 10px;

        a {
          @include rem-size(font-size, 24);
          @include rem-size(line-height, 26);
          font-weight: 700;
          &:hover,
          &:active {
            text-decoration: underline;
          }
        }
      }

      .category-top {
        span.text {
          span.text.fw-bold {
            font-size: 0.875rem;
            line-height: 1.313rem;
            letter-spacing: 1px;
            font-weight: 600 !important;
            color: $primary;
          }
        }
      }

      p.card-text {
        font-size: 1rem;
        line-height: 1.5rem;
        div.document-date {
          @include rem-size(font-size, 14);
        }
      }
    }

    .it-card-footer {
      flex: 1 1 100%;
      align-self: flex-end;

      a {
        &:hover,
        &:active {
          text-decoration: underline;
        }

        &:link,
        &:visited {
          text-decoration: none;
        }
      }

      .icon {
        min-width: unset;
      }
    }
  }

  .link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }
}

.simple-card-compact-template {
  .card-teaser-wrapper {
    .icon-argument-container + .card-body {
      margin-left: 1em;
    }

    .card-title {
      margin-bottom: 10px;

      a {
        @include rem-size(font-size, 32);
        @include rem-size(line-height, 32);
        font-weight: 700;
        text-decoration: none;
        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
    }

    .card-teaser {
      .icon {
        min-width: unset;
      }
    }

    &.card-teaser-block-3 {
      & > .card-teaser {
        flex-wrap: nowrap;

        > .icon {
          color: $secondary;
          fill: $secondary;
        }
      }
    }
  }
}
