.skeleton-template {
  $skeleton-bg: $lightgrey-c2;

  .card {
    position: relative;

    .card-title {
      // min-height: 1.5em;
      color: transparent;
    }

    .category-top {
      min-height: 1em;
    }

    .card-text {
      min-height: 5em;
    }

    .card-title,
    .card-text,
    .category-top {
      background-color: $skeleton-bg;
    }

    .img-responsive-panoramic {
      .img-wrapper {
        min-height: 6em;
        background-color: $skeleton-bg;
      }
    }

    .chip {
      border-color: $skeleton-bg;
      background-color: $skeleton-bg;
    }

    .card-body {
      overflow: hidden;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: loader-animate;
        animation-timing-function: linear;
        background: -webkit-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.6) 30%,
          rgba(255, 255, 255, 0) 81%
        );
        background: -o-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.6) 30%,
          rgba(255, 255, 255, 0) 81%
        );
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.6) 30%,
          rgba(255, 255, 255, 0) 81%
        );
        background-color: #333;
        content: '';
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
      }
    }
  }

  .link-more {
    margin-bottom: 1em;
    text-align: center;

    &:after {
      display: inline-block;
      width: 10em;
      min-height: 1em;
      background-color: $skeleton-bg;
      content: '';
    }
  }
}

// Loader animation
@keyframes loader-animate {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}
