.skeleton-template {
  .card {
    position: relative;

    .card-title {
      min-height: 1em;
    }

    .card-text {
      min-height: 5em;
    }

    .card-title,
    .card-text {
      background-color: $lightgrey-c2;
    }

    .card-body {
      overflow: hidden;

      &:after {
        content: '';
        background-color: #333;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: loader-animate;
        animation-timing-function: linear;
        background: -webkit-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.6) 30%,
          rgba(255, 255, 255, 0) 81%
        );
        background: -o-linear-gradient(
          left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.6) 30%,
          rgba(255, 255, 255, 0) 81%
        );
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.6) 30%,
          rgba(255, 255, 255, 0) 81%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
      }
    }
  }
}

// Loader animation
@keyframes loader-animate {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}
