.sliderTemplate {
  margin: 40px 0;

  .it-carousel-all {
    position: relative;

    .play-pause-wrapper {
      position: absolute;
      z-index: 1;
      top: 1rem;
      right: 1rem;

      button {
        display: flex;
        width: 3.5rem;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border: none;
        background-color: #3f4142e0;
        border-radius: 16px;
        color: $white;
        font-size: 0.7rem;
        font-weight: bold;

        line-height: 1;

        text-transform: uppercase;

        .icon {
          width: 1.35rem;
          height: 1.35rem;
          margin-bottom: 0.4rem;
          color: $white;
        }
      }
    }
  }

  .slick-arrow {
    width: 25px;
    height: 40px;

    .icon {
      width: 25px;
      height: 40px;
      color: $primary;
      fill: $primary;
    }

    &.slick-prev {
      left: -30px;
      outline: none !important;

      &:before {
        content: none;
      }
    }

    &.slick-next {
      right: -30px;
      outline: none !important;

      &:before {
        content: none;
      }
    }
  }

  .slick-dots {
    position: unset;
    bottom: unset;

    ul {
      padding: 0;
      margin: 0;

      li {
        button {
          &:before {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slider-container {
    .slick-slide {
      .slide-wrapper {
        position: relative;
        margin: 0 auto;

        figure.img-wrapper {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 400px;
          margin: 0;

          picture {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }

          img {
            min-width: 100%;
            min-height: 400px;
          }

          figcaption {
            padding: 0.5em 1em;
            color: #666;
            font-size: 0.8em;
            text-align: center;
          }
        }

        .slide-title {
          position: absolute;
          right: auto;
          bottom: 0;
          left: auto;
          width: 100%;
          padding: 0.7rem 1.2rem;
          margin: 0 auto;

          background-color: #3f4142e0;

          color: $white;

          font-size: 1.8rem;
          font-weight: bold;
          text-decoration: none;

          &:hover,
          &:active {
            text-decoration-line: underline;
          }

          .icon {
            margin-left: 0.5em;
          }
        }
      }
    }
  }
  @media (max-width: #{map-get($grid-breakpoints, sm)}) {
    .slider-container {
      .it-carousel-all {
        position: relative;

        .play-pause-wrapper {
          display: none;
        }
      }

      .slick-arrow {
        width: 20px;
        height: 30px;

        .icon {
          width: 20px;
          height: 30px;
        }
      }

      .slick-slide {
        .slide-wrapper {
          figure.img-wrapper {
            height: 150px;

            img {
              min-height: 150px;
            }
          }

          .slide-title {
            position: unset;
            bottom: unset;
            padding: 0.7rem 1.2rem;

            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
