.sliderTemplate {
  margin: 40px 0;

  .it-carousel-all {
    position: relative;

    .play-pause-wrapper {
      position: absolute;
      z-index: 1;
      top: 0.5rem;
      right: 2rem;

      button {
        display: flex;
        width: 3.5rem;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border: none;
        background-color: #3f4142e0;
        border-radius: 16px;
        color: $white;
        font-size: 0.7rem;
        font-weight: bold;

        line-height: 1;

        text-transform: uppercase;

        .icon {
          width: 1.35rem;
          height: 1.35rem;
          margin-bottom: 0.4rem;
          color: $white;
        }
      }
    }
  }

  .col-item {
    margin-bottom: 22px;
  }

  figure {
    margin: 0 auto;
  }

  figure.img-wrapper {
    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      padding: 0.5em 1em;
      color: #666;
      font-size: 0.8em;
      text-align: center;
    }
  }

  .title {
    margin-bottom: 60px;
  }

  .slick-arrow {
    width: 25px;
    height: 40px;

    .icon {
      width: 25px;
      height: 40px;
      color: $primary;
      fill: $primary;
    }

    &.slick-prev {
      outline: none !important;

      &:before {
        content: none;
      }
    }

    &.slick-next {
      right: -25px;
      outline: none !important;

      &:before {
        content: none;
      }
    }
  }

  .slick-dots {
    position: unset;
    bottom: unset;

    ul {
      padding: 0;
      margin: 0;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  @media (max-width: #{map-get($grid-breakpoints, md)}) {
    .slick-arrow.slick-prev {
      left: -20px;
    }

    .slick-arrow.slick-next {
      right: -20px;
    }
  }
}
