.small-block-links {
  margin: 40px 0;

  .col-item {
    margin-bottom: 22px;
  }

  .center-image-card {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 56px 8px;
    border-right: none;
    background: white;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);

    .volto-image.responsive img,
    .img-skeleton {
      width: auto;
      max-width: 100%;
      height: 100px;
    }

    .img-skeleton {
      height: 80px;
    }
  }

  .title {
    margin-bottom: 60px;
  }
}
