$header-image-argomento-height: 390px;
$header-image-argomento-height-mobile: 200px;

.ArgomentoTitleWrapper,
.ArgomentoHeader {
  display: flex;
  flex-wrap: wrap;

  .title-description-wrapper {
    flex: 1 1 500px;
    padding-right: 30px;

    ::placeholder {
      color: $placeholder;
    }

    h2 {
      font-size: 1em;
    }
  }

  .a-portata-di-click {
    flex: 1 1 300px;

    ::placeholder {
      color: $placeholder;
    }
  }
}

.contenttype-pagina-argomento {
  #portal-header-image {
    position: relative;

    div {
      position: absolute;
      z-index: -1;
      overflow: hidden;

      width: 100%;
      height: $header-image-argomento-height;

      img {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        width: unset !important;
        min-width: 100%;
        min-height: $header-image-argomento-height;
        margin: 0;
        margin-right: -50%;
        transform: translate(-50%, -50%);
      }
    }

    &:after {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: $header-image-argomento-height;
      background-color: black;
      content: '';
      opacity: 0.3;
    }
  }

  &.cms-ui {
    #portal-header-image {
      &:after {
        content: none;
      }
    }
  }

  .ArgomentoTitleWrapper {
    max-width: 95%;
    min-height: 350px;
    padding: 50px 70px 80px 70px !important;
    margin: auto;

    background-color: $white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    .iconwrapper {
      display: inline-block;
      padding: 10px 15px 10px 15px;
      margin-bottom: 15px;

      background-color: #ecedee;

      border-radius: 60px;
      box-shadow: 0px 0px 2px #888;

      color: $secondary;
    }
  }
}

@include media-breakpoint-down(sm) {
  .contenttype-pagina-argomento {
    #portal-header-image {
      position: relative;

      div {
        height: $header-image-argomento-height-mobile;

        img {
          min-height: $header-image-argomento-height-mobile;
        }
      }

      &::after {
        height: $header-image-argomento-height-mobile;
      }
    }

    .ArgomentoTitleWrapper {
      padding: 40px 35px 40px 35px !important;

      .a-portata-di-click {
        margin-top: 20px;
      }
    }
  }
}
