.block.video_gallery {
  .full-width {
    height: 350px;
  }

  .volto-subblocks-wrapper {
    .full-width {
      height: 400px;
    }
  }

  .add-block-wrapper {
    text-align: center;
  }

  .channel {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    a {
      text-decoration: none;
    }
  }

  .video-wrapper {
    margin-bottom: 1.5em;

    .ui.embed {
      width: auto;
      max-width: unset;
      height: unset;
      padding: unset;
      background: transparent;

      > .embed {
        iframe {
          position: relative;
          width: auto !important;
        }
      }
    }
  }

  .subblock-edit {
    padding-top: 1.3em;

    .dragsubblock {
      top: 0;
      left: 0;
    }

    .ui.basic.button.delete-button {
      top: 0;
      right: 6rem;
      left: unset;
    }
  }
}
