.ArgomentoTitleWrapper,
.ArgomentoHeader {
  display: flex;
  flex-wrap: wrap;

  .title-description-wrapper {
    flex: 1 1 500px;
    padding-right: 30px;

    ::placeholder {
      color: $placeholder;
    }

    h2 {
      font-size: 1em;
    }
  }

  .card-body a:link {
    text-decoration: none;
  }

  .card-body a:visited {
    text-decoration: none;
  }

  .card-body a:hover {
    text-decoration: underline;
  }

  .card-body a:active {
    text-decoration: underline;
  }

  .card:after {
    content: none;
  }

  .card.border-left-card:before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 8px;
    height: 100%;
    background: $secondary;
    content: '';
    @extend .rounded-left;
  }

  .card .card-body .category-top .data:before {
    content: none;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;

    img {
      width: 80px !important;
      height: 80px;
      @extend .rounded-circle;
      margin: 0 auto;
    }
  }

  .link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }

  .card .card-body .card-text {
    font-family: $font-family-sans-serif;
    font-size: 0.889em;
    font-weight: 400;
  }

  .description {
    font-family: $font-family-sans-serif;
    font-weight: 400;
  }
}

.contenttype-pagina-argomento {
  #briciole {
    padding-left: 90px !important;
    margin-bottom: 0 !important;
  }

  &.has-image {
    #briciole {
      color: $white;

      a {
        color: $white;
      }
    }
  }
}
