body.contenttype-unitaorganizzativa {
  #ulteriori_informazioni {
    margin: 0 !important;
  }

  #persone-struttura {
    a:first-of-type {
      margin-left: 0;
    }

    .ruolo-persone-struttura {
      margin-bottom: 0.3rem;

      h5 {
        display: inline-block;
        margin-right: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  #geocoded-result {
    height: 300px !important;
  }

  .orario-pubblico {
    padding: 1rem;

    p:last-of-type {
      margin-bottom: 8px;
    }
  }

  dl.contatti-list {
    .contatti {
      dt,
      dd {
        display: inline-block;
      }

      dt {
        min-width: 5rem;
      }
    }
  }
  .card-wrapper.card-teaser-wrapper.row {
    // Enable vertical gap in rows
    --bs-gutter-y: 1.5rem;
    &.documenti-pubblici {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .card-persona.card-teaser-image.card-flex.card {
    min-height: 135px;
    height: fit-content;
    .card-image-wrapper {
      .card-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: 100%;
        picture.volto-image {
          height: 100%;
          display: flex;
          align-items: stretch;

          img {
            min-width: 95px;
            max-width: 130px;
            width: auto;
            min-height: 135px;
            object-fit: cover;
            aspect-ratio: 180/100;
            object-position: center;
          }
        }
      }
      .card-title {
        font-size: $card-big-head-size;
        line-height: $card-big-head-l-h;
      }
    }
  }
}
