.contenttype-venue {
  .page-header {
    p.h2 {
      @include rem-size(font-size, 28);
      @include rem-size(line-height, 32);
      font-weight: 600;
      color: $text-color;
      @include margin-size(margin-bottom, 16);
      @include margin-size(margin-top, 16);
    }
    p {
      color: $text-color;
    }
  }

  section#metadata {
    h5 {
      font-family: $font-family-base;
      color: $gray-secondary;
    }
  }
}
