body.subsite-white {
  .public-ui {
    //mobile
    .it-header-wrapper {
      box-shadow: 0px -10px 20px 0px $subsite-white-primary;

      .it-header-center-wrapper {
        background-color: $subsite-white-primary-text;
        color: $subsite-white-primary;

        //-search
        .it-header-center-content-wrapper {
          .it-brand-wrapper {
            a {
              color: $subsite-white-primary;

              .icon {
                color: $subsite-white-primary;
                fill: $subsite-white-primary;
              }
            }

            .it-brand-text {
              h2,
              h3 {
                color: $subsite-white-primary;
              }
            }
          }

          .it-search-wrapper {
            a {
              width: 48px;
              height: 48px;
            }
          }

          .it-right-zone {
            color: $subsite-white-primary;

            a {
              color: $subsite-white-primary;
            }

            .it-socials {
              ul {
                .icon {
                  color: $subsite-white-primary;
                  fill: $subsite-white-primary;
                }

                a {
                  &:hover {
                    .icon {
                      color: lighten($subsite-white-primary, 10);
                      fill: lighten($subsite-white-primary, 10);
                    }
                  }
                }
              }
            }
          }
        }
      }

      .it-header-navbar-wrapper {
        background-color: $subsite-white-primary-text;
        color: $subsite-white-primary;

        a {
          color: $subsite-white-primary;
        }

        .navbar {
          background-color: $subsite-white-primary-text;
        }

        .custom-navbar-toggler {
          svg {
            color: $subsite-white-primary;
            fill: $subsite-white-primary;
          }
        }
      }
    }

    .navbar .navbar-collapsable .navbar-nav li a.nav-link {
      color: $subsite-white-primary;
      @media (min-width: #{map-get($grid-breakpoints, lg)}) {
        &.active {
          border-color: $subsite-white-primary;
        }
      }
    }

    .navbar-collapsable .it-brand-wrapper .it-brand-text {
      h2,
      h3 {
        color: $subsite-white-primary;
      }
    }

    .megamenu {
      .megamenu-toggle-icon {
        fill: $subsite-white-primary;
      }
    }
  }
}
