.documentFirstHeading {
  border: none;

  &:before {
    content: none;
  }
}

a {
  cursor: pointer;
}

.public-ui .text-secondary {
  color: $secondary-text !important;
}

button.custom-navbar-toggler svg.icon {
  fill: $secondary-text;
}

::selection {
  background-color: default;
}

.public-ui a.btn.btn-primary {
  color: $primary-text;

  svg {
    fill: $primary-text;
  }
}

.public-ui a.btn.btn-secondary {
  color: $secondary-text;

  svg {
    fill: $secondary-text;
  }
}
