.documentFirstHeading {
  border: none;

  &:before {
    content: none;
  }
}

a {
  cursor: pointer;

  &[href^='mailto'],
  &[target='_blank'],
  &[rel='noopener noreferreer'] {
    word-break: break-word;
  }
}

.public-ui .text-secondary {
  color: $secondary-text !important;
}

button.custom-navbar-toggler svg.icon {
  fill: $secondary-text;
}

::selection {
  background-color: default;
}

.public-ui {
  a.btn.btn-primary {
    color: $primary-text;

    svg {
      fill: $primary-text;
    }
  }

  a.btn.btn-secondary {
    color: $secondary-text;

    svg {
      fill: $secondary-text;
    }
  }
}

.public-ui,
.cms-ui {
  blockquote {
    position: relative;
    margin: 1.5rem 2rem;
    font-family: $font-family-serif;

    &:before {
      position: absolute;
      top: -1.8rem;
      left: -2rem;
      display: block;
      height: 0;
      color: $neutral-2-b2;
      content: '“';
      font-size: 400%;
    }
  }

  .callout {
    padding: 1.25rem;
    border: 1px solid $neutral-1-a2;
    border-left-width: 0.4rem;
    margin: 1.25rem 0;
    border-radius: 0.25rem;
  }

  .callout-bg {
    padding: 1.25rem;
    margin: 1.25rem 0;
    background-color: $primary-c1;
  }

  .draftjs-buttons {
    margin: 0;

    a {
      display: inline-block;
      background-color: $primary;
      color: $primary-text;
      text-align: center;
      padding: 1em 2em;
      margin: 0.5em 1em 0.5em 0;
      border-radius: $btn-border-radius;
      font-weight: 600;

      &:hover,
      &:active {
        background-color: darken($primary, 8);
        color: $primary-text;
        font-weight: 600;
      }
    }
  }
}

#text-body {
  .full-width {
    left: auto !important;
    position: static;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}
