.documentFirstHeading {
  border: none;

  &:before {
    content: none;
  }
}

a {
  cursor: pointer;
}

.public-ui .text-secondary {
  color: $secondary-text !important;
}

button.custom-navbar-toggler svg.icon {
  fill: $secondary-text;
}

::selection {
  background-color: default;
}

.public-ui {
  a.btn.btn-primary {
    color: $primary-text;

    svg {
      fill: $primary-text;
    }
  }

  a.btn.btn-secondary {
    color: $secondary-text;

    svg {
      fill: $secondary-text;
    }
  }
}

.public-ui,
.cms-ui {
  blockquote {
    position: relative;
    margin: 1.5rem 2rem;
    font-family: $font-family-serif;

    &:before {
      position: absolute;
      display: block;
      height: 0;
      color: $neutral-2-b2;
      font-size: 400%;

      top: -1.8rem;
      left: -2rem;
      content: '“';
    }
  }
}
