@use '../../all_variables' as *;

@mixin block(
  $subsite-primary,
  $subsite-primary-text,
  $subsite-link-color,
  $subsite-light-theme
) {
  .argumentInEvidence {
    .argumentInEvidence-background {
      background-color: $subsite-primary;
    }

    &::before {
      background-color: $subsite-primary;
    }

    h2 {
      color: $subsite-primary-text !important;
    }

    @if $subsite-light-theme {
      .chip.chip-primary {
        border-color: $subsite-link-color;
        color: $subsite-link-color;

        .chip-label {
          color: $subsite-link-color;
        }
      }
    }
  }
}
