@use '../../all_variables' as *;

@mixin block(
  $subsite-primary,
  $subsite-primary-text,
  $subsite-secondary,
  $subsite-secondary-text,
  $subsite-primary-a0,
  $subsite-light-theme
) {
  .container .block {
    .searchSections {
      .searchSections-background {
        background-color: $subsite-primary-a0;
      }
      color: $subsite-primary-text;
      @if $subsite-secondary != $subsite-primary {
        h2.text-secondary {
          color: $subsite-secondary-text !important;
        }
      } @else {
        //use default: parent-site secondary color
      }

      .searchContainer {
        .searchbar {
          button {
            background: darken($subsite-primary, 10%);

            &:hover,
            &:active {
              background-color: darken($subsite-primary, 7.5);
            }

            svg {
              fill: $subsite-primary-text;
            }
          }
        }
      }
    }

    &.search {
      .search-wrapper .autocomplete-icon .icon {
        @if $subsite-light-theme {
          fill: $subsite-secondary;
        } @else {
          fill: $subsite-primary;
        }
      }
    }
  }

  .event-search,
  .bandi-search {
    .bg-primary {
      .search-container {
        .filter-wrapper.select-filter {
          .react-select__control {
            .react-select__placeholder,
            .react-select__single-value {
              color: color-contrast($subsite-primary) !important;
            }

            .react-select__indicators svg {
              fill: color-contrast($subsite-primary);
            }
          }
        }

        .date-filter {
          .DateRangePickerInput {
            .DateInput_input {
              color: color-contrast($subsite-primary);
            }

            .DateRangePickerInput_arrow .DateRangePickerInput_arrow_svg {
              fill: color-contrast($subsite-primary);
            }

            .DateRangePickerInput_clearDates svg {
              fill: color-contrast($subsite-primary);
            }
          }
        }
      }
    }

    .bg-secondary {
      .search-container {
        .filter-wrapper.select-filter {
          .react-select__control {
            .react-select__placeholder,
            .react-select__single-value {
              color: color-contrast($subsite-secondary) !important;
            }

            .react-select__indicators svg {
              fill: color-contrast($subsite-secondary);
            }
          }

          .date-filter,
          &.date-filter {
            .DateRangePickerInput {
              .DateInput_input {
                color: color-contrast($subsite-secondary);
              }

              .DateRangePickerInput_arrow .DateRangePickerInput_arrow_svg {
                fill: color-contrast($subsite-secondary);
              }

              .DateRangePickerInput_clearDates svg {
                fill: color-contrast($subsite-secondary);
              }
            }
          }

          &.date-filter .DateRangePickerInput {
            .DateInput_input {
              color: color-contrast($subsite-secondary) !important;
            }

            .DateRangePickerInput_arrow .DateRangePickerInput_arrow_svg,
            .DateRangePickerInput_clearDates svg {
              fill: color-contrast($subsite-secondary) !important;
            }
          }
        }
      }
    }
  }
}
