.public-ui {
  .card {
    .card-body {
      .card-text {
        line-height: 1.5em;
      }
    }
  }
}

.card.border-left-card {
  border-left: 8px solid $primary-a0;
  box-shadow: 0px 4px 4px 0px #00000026;
  display: flex;
  flex-wrap: nowrap;

  &.card-small {
    @include rem-size(line-height, 24);

    h5.card-title,
    .text.fw-bold {
      a {
        @include rem-size(font-size, 18);
        text-decoration: none;
        text-transform: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    p.card-text {
      @include rem-size(font-size, 16);
    }
  }

  &.card-big-io-comune {
    .card-title,
    .text.fw-bold {
      color: $link-color;
      font-weight: 600;
      a {
        @include rem-size(font-size, 24);
        @include rem-size(line-height, 32);
        text-decoration: none;
        text-transform: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    p.card-text {
      @include rem-size(font-size, 18);
      @include rem-size(line-height, 24);
    }
  }

  &.card-teaser .card-body {
    flex: 0 0 80%;
  }
}

.card-big-io-comune {
  &.card.card-teaser {
    display: flex;
  }
  .card-body {
    padding: 0em !important;
    .category-top {
      .category {
        text-decoration: none;
      }
    }

    .card-title {
      margin-bottom: 0.3em !important;
      font-weight: 600;

      a,
      &.venue-card-title.venue-card-title {
        @include rem-size(font-size, 24);
        @include rem-size(line-height, 32);
        text-decoration: none;
        font-weight: 600;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .card-text {
      @include rem-size(font-size, 18);
      @include rem-size(line-height, 24);
      font-family: 'Titillium Web' !important;
      &.card-with-picture {
        width: 60%;
      }
    }
  }
}

.card-small {
  .card-body {
    h5.card-title {
      a {
        @include rem-size(font-size, 18);
        text-decoration: none;
        text-transform: none;
      }
    }

    p.card-text {
      @include rem-size(font-size, 16);
    }
  }
}

.card.preview-image-card {
  .image-container {
    margin: auto;
    flex-basis: 20%;

    img {
      max-width: 67.56px;
      height: 64px;
      border-radius: 54px;
    }
  }
}

#documenti-collegati .genericcard {
  .card-body {
    h5.card-title {
      a {
        @include rem-size(font-size, 18);
        @include rem-size(line-height, 24);
        font-weight: 600;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
      svg {
        fill: $link-color;
      }
    }
  }
}

.block.highlitedContent {
  div.card {
    h2.card-title {
      a {
        color: $link-color;
        font-size: 1.7rem;
      }
    }
  }
}

.block.listing.simpleCard {
  @include media-breakpoint-down(xl) {
    .card {
      row-gap: 0.56em;
    }

    .card-body {
      margin-left: 0em;
      flex-basis: 100%;
    }
  }
}
