.PageHeaderWrapper {
  .header-infos {
    p {
      margin-bottom: 0.5rem;
    }

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .header-image {
    img {
      width: auto !important;
      max-width: 100%;
      max-height: 8em;
    }
  }

  .link-list-wrapper .link-list {
    li a {
      margin-bottom: 0.9rem;
      line-height: 1.4rem;
    }

    li:last-child a {
      margin-bottom: 0;
    }
  }
}
