[theme]
title = Design Plone Theme
description = A base Agid Theme for Plone 5
doctype = <!DOCTYPE html>
rules = /++theme++design.plone.theme/rules.xml
prefix = /++theme++design.plone.theme
preview = preview.png
enabled-bundles =
disabled-bundles =

# development-css = /++theme++design.plone.theme/css/designplonetheme.css
# production-css = /++theme++design.plone.theme/css/designplonetheme.css
tinymce-content-css = /++theme++design.plone.theme/css/designplonetheme.css

# development-js = /++theme++design.plone.theme/js/theme.js
# production-js = /++theme++design.plone.theme/js/theme-compiled.js

[theme:overrides]
directory = template-overrides

[theme:parameters]
portal_url = python: portal.absolute_url()
