
.news-area-tematica {
    margin: 3rem 0;

    h3.tileTitle {
        font-size: 2.5rem;
    }

    ul.tileContent {
        margin: 2rem 0 0;
        padding: 0;
        list-style: outside none;

        li.collectionItem {
            border-top: 1px solid $gray-desc-border;
            padding: 2rem 0;
            @include clearfix;

            .newsDate {
                float: left;
                border: 1px solid $gray-desc-border;
                border-radius: 5px;
                background-color: $gray-bg;
                font-weight: $bold;
                text-align: center;
                padding: 5px 10px;
                margin: 5px 30px 10px 0;
                width: 60px;
                height: 80px;

                .newsDateYear,
                .newsDateMonth {
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    line-height: 1em;
                }
                .newsDateDay {
                    font-size: 3rem;
                    line-height: 1em;
                }
            }
            .newsText {
                .newsTitle {

                    font-weight: $bold;
                    font-size: 2rem;

                    a {

                        &:focus,
                        &:hover {
                            border-bottom: 1px solid $link-hover-color;
                        }
                    }

                    h3 {
                        margin: 0;
                        font-size: inherit;
                    }
                }
            }
        }
    }
}

.servizi-area-tematica {
    margin: 3rem 0;

    &:before {
        border-top: 8px solid $brand-primary;
        clear: both;
        content: " ";
        display: block;
        width: 200px;
    }

    h3.tileTitle {
        font-size: 2.5rem;
        margin: 1.5rem 0 1rem;
    }

    ul.tileContent {
        margin: 2rem 0 0;
        padding: 0;
        list-style: outside none;
        display: flex;
        flex-flow: row wrap;

        li {
            padding: 0 2rem;
            margin-bottom: 1.5rem;
            position: relative;

            a {
                line-height: 1em;
                color: $text-color;

                &:focus,
                &:hover {
                    color: $link-hover-color;
                    border-bottom: 1px solid $link-hover-color;
                }
            }

            &:before {
                @include make-fa('\f105');
                color: $text-color;
                font-size: 2rem;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
