#category {
    display: block;
    font-size: 0.9em;

    #categories-filed-under {
        &:before {
            @include make-fa('\f02c');
            color: $gray-documentByLine;
            padding-right: 0.5rem;
        }
    }

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline;
            line-height: 1em;
            padding: 0 0.5rem;
            border-right: 1px solid $text-color;
            &:last-child {
                border-right: none;
            }

            a {
                border-bottom: 1px solid $link-color;
                &:hover,
                &:focus {
                    border-color: $link-hover-border-color;
                }
            }
        }
    }
}