.documentActions {
    font-size: 0.9em;
    float: right;

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline;
            line-height: 1em;
            padding: 0 0.5rem;

            a {
                text-transform: uppercase;
                font-weight: .semibold;
                &:hover,
                &:focus {
                    border-color: $link-border-hover-color;
                }
            }
            &#document-action-print {
                a {
                    &:before {
                        @include make-fa('\f02f');
                        padding-right: 0.5rem;
                    }
                }
            }
        }
    }
}