.documentByLine {
    font-size: 0.9em;
    display: inline;

    abbr {
        margin: 5px 0;
        display: inline-block;
        border: 0;
        text-decoration: none;
        cursor: inherit;
    }
}

#plone-document-byline {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.7rem;
    align-items: center;

    svg,
    i:before {
        color: $gray-documentByLine;
        padding-right: 0.5em;
        width: 30px;
    }

    a {
        &:focus,
        &:hover {
            border-bottom: 1px solid $link-hover-color;
        }
    }
}
