.documentActions {
    float: right;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline;
            padding: 0 0 0 2rem;

            a {
                text-transform: uppercase;
                font-weight: $semibold;
                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
            &#document-action-print {
                a {
                    background: url($img-path + 'print.png') no-repeat center left;
                    padding-left: 35px;
                }
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        float: none;
        margin-bottom: 1em;
        text-align: right;
    }
}
