body.portaltype-event {


        ul.event.summary.details {
            float: right;
            max-width: 350px;
            padding: 1.3rem 1.5rem;
            margin: 0 0 2.5rem 2.5rem;
            border: 1px solid $gray;
            border-radius: 0;
            //background-color: transparent;
            border-width: 2px 0;
            list-style: none;

            abbr {
                text-decoration: none; 
            }

            li {
              display: flex;
              flex-direction: column;
              padding: 0.4rem 0;

              strong {
                text-transform: uppercase;
                font-size: 0.75em;
                font-weight: $regular;
              }

              span {
                font-weight: $semibold;
              }
            }
        }

    #parent-fieldname-text {
        clear: left;
    }
}
