body.portaltype-event {
    .leadImage {
        padding: 0 30px 20px 0;
        float: left;
    }

    ul.event.summary {
        float: right;
        clear: right;
        padding-bottom: 20px;
        margin: 0;
    }

    #parent-fieldname-text {
        clear: right;
    }
}
