body.portaltype-event {
    .leadImage {
        padding: 0 30px 20px 0;
        float: left;
    }

    ul.event.summary {
        float: right;
        clear: right;
        padding: 15px;
        margin: 0 0 20px;
        background: $gray-bg;
        border: 1px solid $gray-lighter;
        border-radius: 5px;
        list-style: none;

        abbr {
            text-decoration: none;
        }
    }

    #parent-fieldname-text {
        clear: left;
    }
}
