$mobile-menu-width: $screen-sm-max;

#header-banner,
#portal-header {
    z-index: 300;
    position: relative;
}

#header-banner {
    background-color: $gray-agid;
    color: #FFF;
    font-weight: $semibold;
    padding: 1.3rem 0;

    .header-banner-inner {
        @include make-container;
    }

    .header-banner-owner,
    .header-banner-second-link {
        width: 50%;
        float: left;

        a {
            color: #FFF;

            &:focus,
            &:hover {
                border-bottom: 1px solid #FFF;
            }
        }
    }

    .header-banner-second-link {
        text-align: right;
    }

    @media (max-width: 600px) {
        font-size: 0.7em;
    }
}

#portal-header {
    padding: 1.8rem 0;
    @include make-container;
    display: flex;
    justify-content: space-between;

    h1 {
        flex: 1 0 0;
        margin:0;

        img {
            margin-right: 2rem;
        }

        a {
            color: $text-color;

            span {
                border-bottom: 3px solid $tr;

                @media (max-width: $screen-sm-max) {
                    border-width: 1px;
                }
            }

            &:focus {
                border:0;

                span {
                    border-bottom-color: $text-color;
                }
            }
        }
    }

    button#search-toggle,
    button#globalnav-toggle {
        display: none;

        .sr-only {
            @include sr-only;
        }
    }

    @media (max-width: $mobile-menu-width) {
        border-bottom: 1px solid $gray-light;
        position: relative;

        .search-social-wrapper {
            display: inline-flex;
            flex-flow: row nowrap;
        }

        #header-social {
            display: none;
        }

        #portal-searchbox {
            display: none;

            &.open {
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                top: 100%;
                z-index: 1000;

                #searchGadget_form {
                    width: 100%;
                }

                #searchGadget {
                    width: calc(100% - 5rem);
                }

                ul.livesearch-results {
                    width: 100% !important;
                }
            }
        }

        button#globalnav-toggle,
        button#search-toggle {
            display: inline-block;
            border: 0;
            background: transparent;
            color: #000;
            padding: 5px 20px;
            text-align: left;
            font-size: 1.5em;
            box-shadow: none;
        }

        button#globalnav-toggle {
            .icon {
                &:before {
                    @include make-fa('\f0c9');
                    vertical-align: middle;
                }
            }
        }

        button#search-toggle {
            .icon {
                &:before {
                    @include make-fa('\f002');
                    vertical-align: middle;
                }
            }

            &.open {
                .icon {
                    &:before {
                        @include make-ita('\1f5f5');
                        font-size: 0.9em;
                    }
                }
            }
        }
    }

    @media (max-width: 600px) {
        h1#portal-logo {
            img {
                $logo-width: 13vw;
                width: $logo-width;
                height: $logo-width;
                margin-right: 1.5rem;
            }

            padding: 0;

            span {
                font-size: 4vw;
                padding: 3px 0;

                .subtitle {
                    font-size: 3vw;
                }
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        button#globalnav-toggle,
        button#search-toggle {
            padding: 5px 15px 5px 10px;
            font-size: 1.35em;
        }
    }
}

@media (max-width: $mobile-menu-width) {
    .searchOpened,
    .menuOpened {
        position: relative;

        &:after {
            content: "";
            display: block;
            width: 100vw;
            height: 100vh;
            background: rgba(255, 255, 255, 0.8);
            z-index: 500;
            position: fixed;
            top: 0;
            left: 0;
        }
    }

    .searchOpened {
        &:after {
            z-index: 200;
        }
    }

    .menuOpened {
        &:after {
            z-index: 200;
        }
    }
}
