@import '../_redturtleagidtheme_variables';

body.section-homepage {
    background: $gray-bg;

    #portal-top {
        background: #fff;
    }
}

.news-collection {
    position: relative;
    overflow: auto;
    padding: 20px 10px;

    ul.tileContent {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-flow: row nowrap;
    }

    li.collectionItem {
        padding: 20px;
    }

    .showMore {
        position: absolute;
        top: 45px;
        right: 2%;

        a {
            border-bottom: 1px solid $brand-primary;
        }
    }

    .newsWrapper {
        background: #fff;
        height: 100%;

        a {
            color: #000;
        }

        .newsImage {
            img {
                width: 100%;
                height: auto;
            }
        }

        .newsText {
            padding: 5%;
        }

        .newsTitle {
            font-weight: $bold;
            padding: 10px 0;
        }

        .newsDescription {
            overflow: hidden;
            position: relative;
            height: 6em;
        }

        .newsDescription:before {
            content: "";
            float: left;
            width: 5px;
            height: 6em;
        }

        .newsDescription > *:first-child {
            float: right;
            width: 100%;
            margin-left: -5px;
        }

        .newsDescription:after {
            content: "\02026";
            box-sizing: content-box;
            float: right;
            position: relative;
            top: -25px;
            left: 100%;
            width: 1em;
            margin-left: -1em;
            padding-right: 5px;
            text-align: right;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), white 15%, white);
        }
    }
}

#viewlet-below-content {
    display: none;
}
