body.section-homepage {
    background: $gray-bg;

    #portal-top {
        background: #fff;
    }

    #content {
        header {
            display: none;
        }
    }

    #portal-column-content,
    #column-wrapper {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        width: 100%;
    }

    .pat-tiles-management {
        margin: 0;

        .actionsTiles {
            padding: 20px;
        }
    }

    .tilesList > .tileWrapper {
        .tile-header {
            display: none;
        }
    }

    #viewlet-below-content {
        display: none;
    }

    #portal-column-two {
        display: none;
    }
}
