.template-homepage_view {
  //  background: $gray-bg;

    #portal-top {
      background: #fff;
    }

    #content {
        header {
            display: none;
        }
    }

    #portal-column-content,
    #column-wrapper {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        width: 100%;
    }



    #viewlet-below-content {
        display: none;
    }

    #portal-column-two {
        display: none;
    }

    .news-collection {
      [class*='collection-container'] {
        @include make-container;
      }
    }
}
