.leadImage {

    figure {
        position: relative;

        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            padding: 0.3em 0.6em;
            color: #FFF;
            text-transform: uppercase;
            font-size: 0.8em;
        }

        a {
          display: block;
          color: #FFF;
        }
    }
}
