.plone-navbar-header {
    padding: 0;

    .plone-navbar-toggle {
        display: none;
        background-color: transparent;
        border: 0 none;
        padding: 0;
        margin: 10px 0;

        svg,
        i:before {
            display: none;
        }

        &:hover,
        &:focus {
            box-shadow: none;
        }

        &:before {
            background: url('++theme++redturtle.agid.theme/images/menu.png');
            height: 1.2em;
            width: 1.2em;
            display: block;
            content: '';
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

#portal-mainnavigation {
    background-color: $brand-primary;
    color: #fff;
    @include antialias;

    .globalnavWrapper {
        @include make-container;
    }

    ul#portal-globalnav {
        @extend .list-inline;
        margin: 0;
        display: flex;
        padding: 1.2rem 0;

        > li {
            margin: 0 2%;

            &:first-child {
                margin-left: 0;
            }

            &:first-child {
                margin-left: 0;
            }

            > a {
                color: #fff;
                font-size: 1.95rem;
                font-weight: $semibold;
                display: block;
                border-bottom: 1px solid transparent;

                &:hover {
                    border-color: #fff;
                }
            }

            a.closeMenuLink {
                display: inline-block;
            }
        }
    }

    button#globalnav-close {
        display: none;

        span.sr-only {
            @include sr-only;
        }
    }
}

@media (max-width: $mobile-menu-width) {
    #portal-mainnavigation {
        #portal-globalnav-wrapper {
            display: block;
            max-height: 0;
            transition: max-height $animation-speed ease-in-out;
            overflow: hidden;

            &.open {
                max-height: 1000px;
            }
        }

        ul#portal-globalnav {
            display: block;

            > li {
                display: block;
                margin: 0 0 2%;
                padding: 0;

                > a {
                    display: inline-block;
                }
            }
        }
    }
}
