.navigationTile,
.portletNavigationTree nav.portletContent {
    ul.navTree {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            a {
                padding: 1.5rem 2.5rem 1.5rem 2rem;
                border-bottom: 1px solid $gray-desc-border;
                display: block;

                &.navTreeFolderish {
                    position: relative;
                    &:after {
                        @include make-fa('\f107');
                        display: block;
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        font-size: 2.5rem;
                        color: #000;
                    }
                    &.navTreeCurrentNode,
                    &.navTreeItemInPath {
                        &:after {
                            @include make-fa('\f106');
                            top: 0.5rem;
                            font-weight: $regular;
                        }
                    }
                }
                &:hover,
                &:focus {
                    text-decoration: underline;
                }
                img.image-icon {
                    display: none;
                }
            }

            &.navTreeFolderish {
                > ul {
                    > li {
                        > a {
                            background-color: $gray-bg;
                        }
                    }
                }
            }

            &.navTreeItemInPath,
            &.navTreeCurrentNode {
                a.navTreeItemInPath,
                a.navTreeCurrentItem {
                    background-color: $brand-primary;
                    color: #fff;
                    font-weight: $semibold;
                        &:after {
                            color: #fff;
                        }
                }
            }
        }

        ul {
            margin-left: 2rem;
            margin-top: 0;
        }

        &.navTreeLevel0 {
            > li {
                &:last-child {
                    > a {
                        border-bottom: 0 none;
                    }
                }
            }
        }
    }
}
