nav.pagination {
    display: block;
    margin: 20px 0 0;

    ul {
        @extend .list-unstyled, .list-inline;
        display:inline-block;
        margin:0;

        li {
            border-top: 1px solid #CCC;
            padding: 0.5em 0;
            display: inline;

            a,
            span {
                position: relative;
                float: left;
                padding: 6px 12px;
                line-height: 1.6;
                text-decoration: none;
                color: $link-color;
                background-color: #fff;
                border: 1px solid #ddd;
                margin-left: -1px;

                &:focus,
                &:hover {
                    z-index: 3;
                    color: #003552;
                    background-color: #F5F5F5;
                    border-color: #ddd;
                }
            }

            &.active a,
            &.active span {
                z-index: 2;
                color: #fff;
                background-color: $link-color;
                border-color: $link-color;
                cursor: default;
            }
            &.previous {
                a, span {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
            }
            &.next {
                a, span {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #CCC;
}
