.portlet {
    margin-bottom: 2em;
}

.portletHeader {
    border-bottom: 4px solid $gray-nav;
    font-size: 2.1rem;
    font-weight: $semibold;
    padding: 0.8rem 0.3rem;
    margin-bottom: 0.5em;

    a {
        color: #000;
    }
}

// NAVIGAZIONE
.portletNavigationTree {
    nav.portletContent {
        ul.navTree {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                padding: 1.5rem 2rem;
                border-bottom: 1px solid $gray-desc-border;
            }
        }
    }
}