.portlet {
    margin-bottom: 1.5rem;
}

.portletHeader {
    border-bottom: 4px solid $gray-nav;
    font-size: 2.1rem;
    font-weight: $semibold;
    padding: 0.8rem 0.3rem;
    margin-bottom: 0.5em;

    a {
        color: #000;
    }
}

.portletContent {
    a {
        border-bottom: 1px solid transparent;

        &:hover,
        &:focus {
            border-bottom-color: $link-hover-color;
        }
    }
}

// NAVIGAZIONE
.portletNavigationTree {
    nav.portletContent {
        ul.navTree {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                a {
                    padding: 1.5rem 2.5rem 1.5rem 2rem;
                    border-bottom: 1px solid $gray-desc-border;
                    display: block;

                    &.navTreeFolderish {
                        position: relative;
                        &:after {
                            @include make-fa('\f107');
                            display: block;
                            position: absolute;
                            top: 1rem;
                            right: 1rem;
                            font-size: 2.5rem;
                            color: #000;
                        }
                        &.navTreeCurrentNode,
                        &.navTreeItemInPath {
                            &:after {
                                @include make-fa('\f106');
                                top: 0.5rem;
                                font-weight: $regular;
                            }
                        }
                    }
                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                    img.image-icon {
                        display: none;
                    }
                }

                &.navTreeFolderish {
                    > ul {
                        > li {
                            > a {
                                background-color: $gray-bg;
                            }
                        }
                    }
                }

                &.navTreeItemInPath,
                &.navTreeCurrentNode {
                    a.navTreeItemInPath,
                    a.navTreeCurrentItem {
                        background-color: $brand-primary;
                        color: #fff;
                        font-weight: $semibold;
                            &:after {
                                color: #fff;
                            }
                    }
                }
            }

            ul {
                margin-left: 2rem;
                margin-top: 0;
            }

            &.navTreeLevel0 {
                > li {
                    &:last-child {
                        > a {
                            border-bottom: 0 none;
                        }
                    }
                }
            }
        }
    }
}

// STATICA AVANZATA
.rerPortletAdvancedStatic {
    .portletHeader {
        h4.portlet-header {
            margin: 0;
            font-size: 1em;
            line-height: 1em;
        }
    }

    &.portletStaticNavigation {
        .portletContent {
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    padding: 1.5rem 2.5rem 1.5rem 2rem;
                    border-bottom: 1px solid $gray-desc-border;
                    &:last-child {
                        border-bottom: 0 none;
                    }
                }
            }
        }
    }
}

// COLLEZIONE
.portletCollection {

    ul.portletContent {
        padding: 0;
        list-style-type: none;

        li {
            padding: 1.5rem 2.5rem 1.5rem 2rem;
            border-bottom: 1px solid $gray-desc-border;
            &:last-child {
                border-bottom: 0 none;
            }

            a.tile {
                img {
                    display: none;
                }
                .portletItemDetails {
                    font-style: italic;
                    font-size: 0.8em;
                }
            }
        }
    }
}

// CALENDAR
.portletCalendar {
    header {
        text-align: center;
    }
    .ploneCalendar {
        td.today {
            border: 0 none;
        }
    }
}

// PLACEHOLDER PER CREARE COLONNA
.placeholder-portlet {
    display: none;
}
