#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;

    span {
      color: #fff;
      margin: 0;
      position: relative;
      left: 16px;
      top: 13px;
      font-size: 19px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
}

#return-to-top:active {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:active span {
  color: #fff;
  top: 5px;
}
