.section-homepage,
.template-edit {
    .share {
        display: none;
    }
}

.share {
    margin: 0 auto 40px;
    display: none;
    flex-flow: row nowrap;

    &.share-visible {
        display: flex;
    }

    .share-slider {
        display: inline-block;
        white-space: nowrap;
        position: relative;
        width: 100%;
        max-width: 200px;
        margin-left: auto;
    }

    .share-icon {
        width: 45px;
        height: 45px;
        padding: 8px;
        display: inline-block;
        color: #fff;
        text-align: center;

        &:before {
            @include make-ita('\1f4e2');
            vertical-align: middle;
        }
    }

    .share-title {
        transition: width $animation-speed ease-in-out;
        background: $gray-bg;
        width: 100%;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;

        a.share-toggle {
            padding: 6px 20px;
            height: 45px;
            display: block;
            text-align: right;

            span {
                font-size: 1.2em;
            }
        }
    }

    .share-button {
        display: inline-block;
        background: $social-icon-bg;
        width: 45px;
        height: 45px;
        color: #fff;
    }

    .share-options {
        transition: width $animation-speed ease-in-out;
        width: 0%;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;

        ul.social-list {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: right;

            li {
                display: inline-block;
                padding-right: 5px;
                background: #FFF;

                a {
                    display: block;

                    .u-hiddenVisually {
                        @include sr-only;
                    }

                    .social {
                        background: $brand-primary;
                        display: inline-block;
                        text-align: center;
                        width: 45px;
                        height: 45px;
                        padding: 7px;

                        &:before {
                            font-size: 1.2em;
                        }

                        &.google:before {
                            @include make-fa('\f0d5', #fff);
                        }
                        &.facebook:before {
                            @include make-fa('\f09a', #fff);
                        }
                        &.twitter:before {
                            @include make-fa('\f099', #fff);
                        }
                        &.youtube:before {
                            @include make-fa('\f167', #fff);
                        }
                        &.instagram:before {
                            @include make-fa('\f16d', #FFF);
                        }
                        &.whatsapp:before {
                            @include make-fa('\f232', #fff);
                        }
                        &.linkedin:before {
                            @include make-fa('\f0e1', #fff);
                        }
                    }
                }
            }
        }
    }

    &.open {
        .share-options {
            width: 275px; // 320px min mobile - 45px button
            margin: 0;
        }

        .share-title {
            width: 0%;
        }

        .share-icon {
            color: $social-icon-bg;
            background: $gray-bg;
        }
    }

    @media (max-width: $screen-xs-max) {
        max-width: 200px;
        margin-right: 15px;
    }
}
