.Share-reveal {
    margin: 20px auto;

    a.Share-revealText {

        .Share-revealIcon {
            background: $social-icon-bg;
            color: #fff;
            padding: 10px;
        }

        .Share-title {
            background: $gray-bg;
            padding: 10px;
        }
    }
}

#share-options {
    display: none;
}
