.valuta-sito {
    width: 100% !important;
    background: $brand-primary;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;

    a {
        display: block;
        color: #fff !important;
        padding: 20px;

        .valuta-sito-text {
            border-bottom: 1px solid transparent;
        }

        &:hover,
        &:focus {
            .valuta-sito-text {
                border-bottom-color: #fff;
            }
        }
    }

    p {
        margin: 0;
    }

    .valuta-sito-content:before {
        content: "";
        padding-right: 4em;
        display: inline-block;
        width: auto;
        height: 1.5em;
        vertical-align: top;
        background-image: url($img-path + 'rectangle-tool.svg');
        background-size: 4rem;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .portletHeader {
        display: none;
    }
}

// tile statiche generiche
.tile-advanced-static {
  margin: 30px 0;

  &.sfondo-scuro,
  &.sfondo-chiaro {
    margin:0;
    padding: 20px 15px;
  }

  &.senza-titolo h3.tileTitle {
    display: none;
  }

  h3.tileTitle {
    margin-top:0;
  }

  .tileFooter {
    font-weight: $semibold;

    a {
      border: 1px solid;
      border-radius: 3px;
      padding: 0 0.5em;
    }
  }
}
