.collectionTile {
  &.senza-titolo .tileTitle {
    display: none;
  }
}

.news-collection {
    .news-collection-container {
        // @include make-container;
        position: relative;
        overflow: auto;
        padding: 20px 0px;
    }

    ul.tileContent {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-flow: row wrap;
    }

    li.collectionItem {
        padding: 20px 10px;
    }

    .showMore {
        position: absolute;
        top: 45px;
        right: 2%;

        a {
            font-size: 2rem;
            font-weight: $bold;
            border-bottom: 1px solid;
        }
    }

    .tileTitle {
        padding: 0 10px;

        .tile-collapse-button {
            border: 0;
            background: none;
            padding-left: 0;

            &:active,
            &:hover {
                box-shadow: none;
            }

            @media (min-width: $screen-md-min) {
                cursor: inherit;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }

    .newsWrapper {
        background: #EEE;
        height: 100%;
        position: relative;
        padding-bottom: 2em;

        a {
            color: #000;

            &:hover,
            &:focus {
                .newsTitle {
                    span {
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }

        .newsImage {
            img {
                width: 100%;
                height: auto;
            }
        }

        .newsText {
            padding: 5%;
        }

        .newsDates {
            display: block;
            padding: 10px 20px;
            position: absolute;
            right: 0;
            bottom: 0.5em;
            color: $gray;

            > div {
                display: inline-block;
            }
        }

        .newsTitle {
            font-weight: $bold;
            padding: 10px 0;
        }
    }

    @media (max-width: $screen-xs-max) {
        ul.tileContent {
            font-size: 0.9em;
        }
    }
}

@media (max-width: $screen-sm-max) {
    .collectionTile.collapsible {
        .news-collection {
            .tileBody {
                max-height: 0;
                overflow: hidden;
                transition: max-height $animation-speed ease-in-out;

                .showMore {
                    display: none;
                }
            }

            .tile-collapse-button {
                position: relative;
                padding-right: 30px;

                .title-content {
                    border-bottom: 1px solid #000;
                }

                .title-icon {
                    &:before {
                        @include make-fa('\f107');
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        padding-top: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }

        &.sfondo-scuro {
            .news-collection {
                .tile-collapse-button {
                    color: #FFF;

                    .title-content {
                        border-bottom-color: #FFF;
                    }

                    .title-icon {
                        &:before {
                            @include make-fa('\f107');
                            position: absolute;
                            right: 0;
                            top: 0;
                            height: 100%;
                            padding-top: 5px;
                            padding-right: 5px;
                        }
                    }
                }
            }
        }

        &.open {
            .news-collection {
                .tileBody {
                    max-height: 10000px;

                    .showMore {
                        display: block;
                    }
                }

                .tile-collapse-button {
                    .title-icon {
                        &:before {
                            @include make-fa('\f106');
                        }
                    }
                }
            }
        }
    }

    .mobile-hidden {
        display: none;
    }
}

.aree-tematiche {
    @include make-container;
    padding-bottom: 40px;

    ul {
        @extend .list-inline;
        display: inline-flex;
        flex-flow: row wrap;
        @include make-row();
        width: 100%;

        li {
            @include make-xs-column(6);
            @include make-md-column(3);

            a {
                display: block;
                overflow: auto;
                border-top: 1px solid $gray-border;
                font-weight: $bold;
                padding: 15px 10px;

                .linkImage {
                    width: 40px;
                    float: left;
                    padding-right: 10px;
                    text-align: center;

                    img {
                        height: 100%;
                        width: auto;
                    }
                }

                .linkText {
                    width: calc(100% - 40px);
                    padding-left: 10px;
                    float: left;
                }

                &:focus,
                &:hover {
                    .linkText {
                        .title {
                            border-bottom: 1px solid $brand-primary;
                        }
                    }
                }
            }
        }

        @media (max-width: 550px) {
            flex: column nowrap;

            li {
                width: 100%;
                float: none;
            }
        }
    }
}

.news-highlight {
    background: #fff;

    .tileBody {
        @include make-container;
        padding: 30px 0px 40px;
    }

    .tile-content {
        display: flex;
        flex-flow: row wrap;

        .news-infos,
        .item-image {
            width: 50%;
            padding: 15px;
        }

        .news-infos {
            .news-detail {
                @include clearfix;

                .tileTitle {
                    float: left;
                    font-size: 1.9rem;
                    font-weight: $bold;
                    padding-right: 3rem;
                }

                .news-date {
                    float: left;
                    font-size: 1.8rem;
                }
            }

            .news-title {
                margin: 2rem 0;
                font-size: 3rem;
                font-weight: $bold;
                line-height: 1.2em;

                a {
                    &:focus,
                    &:hover {
                        border-bottom: 1px solid $link-hover-color;
                    }
                }
            }
        }

        .item-image {
            img {
                float: right;
                max-width: 100%;
                height: auto;
            }
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        .tileBody {
            padding-top: 0;
        }

        .tile-content {
            .news-infos {
                width: 100%;

                .news-detail {
                    .tileTitle,
                    .news-date {
                        float: none;
                        clear: both;
                    }

                    .news-date {
                        margin: 0;
                    }

                    .tileTitle {
                        padding-bottom: 7px;
                    }
                }

                .news-title {
                    font-size: 2rem;
                }

                .news-description {
                    font-size: 1.7rem;
                }
            }

            .item-image {
                width: 100%;
                text-align: center;

                img {
                    float: none;
                }
            }
        }
    }
}

.online-services {
    @include make-container;
    position: relative;
    padding: 15px 5px 30px;

    ul.tileContent {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 0;
    }

    li.collectionItem {
        padding: 20px 10px;
        width: 22.5%;
    }

    .showMore {
        position: absolute;
        top: 40px;
        right: 15px;

        a {
            font-size: 2rem;
            font-weight: $bold;
            border-bottom: 1px solid;
        }
    }

    .tileTitle {
        padding: 0 10px;
    }

    .serviceWrapper {
        height: 100%;
        position: relative;

        a {
            color: #000;

            &:hover,
            &:focus {
                border-bottom: 1px solid #000;
            }
        }

        .serviceSubject {
            font-weight: $bold;
            font-size: 1.5rem;
            text-transform: uppercase;
            min-height: 25px;
        }

        .serviceTitle {
            font-weight: $bold;
            font-size: 2rem;
            padding: 5px 0 10px;
        }

        .serviceDescription {
            overflow: hidden;
            position: relative;
            height: 6em;
        }

        .serviceDescription:before {
            content: "";
            float: left;
            width: 5px;
            height: 6em;
        }

        .serviceDescription > *:first-child {
            float: right;
            width: 100%;
            margin-left: -5px;
        }

        .serviceDescription:after {
            content: "\02026";
            box-sizing: content-box;
            float: right;
            position: relative;
            top: -25px;
            left: 100%;
            width: 1em;
            margin-left: -1em;
            padding-right: 5px;
            text-align: right;
        }
    }
}

// NEWS CON FOTO GRANDE IN SFONDO (homepage)
.news-big-photo {
    min-height: 40rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .tileBody {
        @include make-container;

        .tile-content {
            max-width: 600px;
            margin: 3% auto 3% 5%;
            background-color: rgba(255, 255, 255, 0.85);
            padding: 2% 3%;
            color: $text-color;
            position: relative;
            border-left: 30px solid $brand-primary;
            font-size: 1.2em;

            h2 {
                margin-top: 0;
                font-size: 1.6em;

                a {
                    color: $text-color;

                    &:focus,
                    &:hover {
                        color: $brand-primary;
                    }
                }
            }

            .news-date-more {
                display: flex;
                justify-content: space-between;

                .show-more {
                    a {
                        font-weight: $semibold;
                        border-bottom: 1px solid $brand-primary;

                        &:focus,
                        &:hover {
                            border-color: $link-hover-color;
                        }
                    }
                }

                .news-date {
                    font-size: 0.9em;
                    color: $gray;
                }
            }
        }
    }
}
