body[class*="page_view"] {
    .aree-tematiche,
    [class*='collection-container'] {
        width: 100%;
    }

    #viewlet-below-content {
        display: none;
    }

    .tiles-slot {
        .tilesList {
            @include make-container;
        }

        #viewlet-below-content {
            @include make-container;
            margin-bottom: 50px;
        }
    }
}
