.section-homepage,
.template-tiles_page_view {
    #viewlet-below-content {
        display: none;
    }

    .tiles-slot {
        .tilesList {
            @include make-container;
        }

        #viewlet-below-content {
            @include make-container;
            margin-bottom: 50px;
        }
    }

    .tile-advanced-static {
        .tile-container {
            @include make-container();
        }
    }

    .existing-content-tile {
        @include make-container();
    }

    .aree-tematiche,
    [class*='collection-container'],
    .PagesTileCollection .tileContent {
        @include make-container;
    }
}
