.bandi-in-evidence {
  .card-wrapper {
    min-height: 340px;

    .listing-item {
      align-items: normal;

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2.5rem;
        padding-bottom: 0rem;
        word-break: break-word;
      }
    }
  }

  .title {
    line-height: 1.5rem !important;

    a.bando-title {
      margin: 0;
      margin-bottom: 1rem;
      color: $input-label-color;
      font-size: 1.555rem;
      font-weight: 600;
      letter-spacing: normal;
      text-decoration: none;
    }
  }

  .bando-description {
    flex-grow: 1;
    margin-top: 0.5rem;
    font-size: 18px;
  }

  .bando-dati {
    padding: 0.1rem;
    margin-top: 2rem;
    font-size: 16px;

    .bando-dati-info {
      margin-bottom: 0.7rem;

      &:last-child {
        margin-bottom: 0;
      }

      .bando-dati-label {
        font-weight: 550;
      }

      .bando-dati-date {
        font-weight: 200;
      }
    }
  }

  .card-title + .bando-dati {
    margin-top: 0;
  }

  div.read-more {
    position: relative;
  }

  .read-more {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 1rem;
    margin-top: -0.75rem;
    margin-right: -0.35rem;

    a.read-more {
      top: 1rem;
      right: 0;
      bottom: 0;
      padding-top: 0.75rem;

      @media (max-width: #{map-get($grid-breakpoints, md)}) {
        display: block;
        text-align: right;
      }
    }
  }

  .bando-state {
    padding-top: 0.2rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    border-radius: 0.3rem;
    color: $primary-text;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .open {
    /* background-color: #00cf86;*/
    background-color: $complementary-3-a9;
  }

  .scheduled {
    background-color: $analogue-1-b5;
  }

  .closed {
    background-color: $neutral-1-a7;
  }

  .in-progress,
  .inProgress {
    background-color: $analogue-1-a9;
  }

  .skeleton-template {
    .bando-description,
    .bando-dati {
      background-color: #fff;
      color: transparent;
    }

    .bando-dati {
      min-height: 7em;
    }

    .read-more {
      margin-top: 0;
    }
  }
}
