.block.gridBlock {
  margin-top: 2rem;

  .full-width {
    height: unset !important;
  }

  .gridBlock-container {
    position: relative;
    max-width: 1320px;
    padding: 0 4px;
    margin: auto;

    .toolbar {
      left: 16px !important;
    }

    .block {
      .image {
        .ui.message {
          padding-right: 8px;
          padding-left: 8px;
        }

        .ui.input {
          margin-left: 16px;
          font-size: 14px;
        }
      }
    }
  }
}
