.block.listing {
  .full-width {
    height: unset;

    h2 {
      @include rem-size(font-size, 32);
      @include rem-size(line-height, 32);
    }
  }

  .listing-item picture {
    max-width: unset;
    margin: 0;
  }

  .event-recurrences-more {
    position: absolute;
    bottom: $v-gap * 8;

    display: flex;
    align-items: center;
    color: $body-color;
    font-size: $card-category-size;
    letter-spacing: $card-category-l-spacing;
  }

  //* custom align button

  .link-more-button-align-right {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 30px 0;
  }

  //* customizzazione: checkbox linea sotto al titolo
  .title-bottom-line {
    border-bottom: 1px solid #455b71;
    padding-bottom: 15px;
  }
}
