.block.video_gallery {
  margin: 3rem 0;

  .full-width {
    height: 350px;
  }

  .volto-subblocks-wrapper {
    .full-width {
      height: 400px;
    }

    .slick-list {
      margin: 0;
    }
  }

  .slick-list {
    margin: 0 -1rem;
  }

  .add-block-wrapper {
    margin-top: 1rem;
    text-align: center;
  }

  .channel {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    a {
      text-decoration: none;
    }
  }

  .video-wrapper {
    .ui.embed {
      position: relative;
      width: auto;
      max-width: unset;
      height: unset;
      padding: 0 1em;
      background: transparent;

      > .embed {
        iframe {
          position: relative;
          height: 190px;
        }
      }

      img.placeholder {
        width: 100%;
        height: 190px;
        cursor: auto;
        object-fit: cover;
      }

      .icon-play {
        position: absolute;
        z-index: 2;

        top: 50%;
        left: 50%;
        width: 3.6rem;
        height: 2.5rem;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.7);

        color: $white;
        cursor: pointer;
        line-height: 2.5rem;
        text-align: center;
        transform: translateX(-50%) translateY(-50%);

        svg {
          width: 1rem;
          height: 1rem;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: $primary;
          color: $primary-text;
        }
      }

      &.active {
        .icon-play,
        img.placeholder {
          display: none;
        }
      }
    }

    video {
      display: block;
      max-width: 300px;
      max-height: 150px;
      margin: 0 auto;
    }
  }

  .subblock-edit {
    padding-top: 1rem;

    .dragsubblock {
      top: 0;
      left: 0;
    }

    .video-wrapper {
      padding: 0 0.5rem;

      .ui.embed {
        position: relative;
        display: flex;
        min-height: 190px;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        pointer-events: none;
      }
    }

    .ui.basic.button.delete-button {
      top: 0;
      right: 6rem;
      left: unset;
    }
  }
}
