build
cache
coverage
data
docker-compose.*
Dockerfile
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.git
.gitignore
.history
locales/*.json
*.log
logs
node_modules
npm-debug.log*
omelette
.vscode/
.yarn/
.yarnrc
