.label,
label .label {
    display: inline;
    padding: 0;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius: inherit;
}


select[size] {
  width: auto;
  height: auto;
}

#form-widgets-body_text_format,
.pat-textareamimetypeselector {
  display: none;
}

input[type="text"][name*='.css_class'],
input[type="text"][name*='.button_text'],
input[type="text"].text-widget.textline-field {
  max-width: 300px;
}

input[type="text"].text-widget.textline-field {
  display: inline-block;

  + input.searchButton {
    @extend .btn, .btn-default, .btn-sm;
    margin-top: -3px;
  }
}

.formHelp {
  display: block;
  font-size: 15px;
}


/** BARCELONETA */
// Normalize non-controls
// Restyle and baseline non-control form elements.
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: -webkit-min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #4d4d4d;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-weight: $regular;
}

// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.
// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  box-sizing: border-box;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple] {
  height: auto;
  min-width: 10em;
}
select[size="1"] {
  height: 34px;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Adjust output element
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #696969;
}

/*.form-control,*/ input[type="text"], input[type="number"], input[type="email"], input[type="password"], textarea, select {
  display: block;
  width: 100%;
  height: 34px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: 6px 12px;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: #ffffff;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
// Customize the `:focus` state to imitate native WebKit styles.
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: #64bee8;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(100, 190, 232, 0.6);
}
// Placeholder
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #777777;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #777777;
}
// Disabled and read-only inputs
//
// HTML5 says that controls under a fieldset > legend:first-child won't be
// disabled if the fieldset is disabled. Due to implementation difficulty, we
// don't honor that edge case; we style them as disabled anyway.
input[type="text"][disabled],
input[type="email"][disabled],
input[type="password"][disabled],
textarea[disabled],
select[disabled],
input[type="text"][readonly],
input[type="email"][readonly],
input[type="password"][readonly],
textarea[readonly],
select[readonly],
fieldset[disabled] input[type="text"],
fieldset[disabled] input[type="email"],
fieldset[disabled] input[type="password"],
fieldset[disabled] textarea,
fieldset[disabled] select {
  cursor: not-allowed;
  background-color: #e5e5e5;
  opacity: 1;
}