.label,
label .label {
    display: inline;
    padding: 0;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius: inherit;
}


select[size] {
  width: auto;
  height: 34px;
}

#form-widgets-body_text_format,
.pat-textareamimetypeselector {
  display: none;
}

input[type="text"][name*='.css_class'],
input[type="text"][name*='.button_text'],
input[type="text"].text-widget.textline-field {
  max-width: 300px;
}

input[type="text"].text-widget.textline-field {
  display: inline-block;

  + input.searchButton {
    @extend .btn, .btn-default, .btn-sm;
    margin-top: -3px;
  }
}

.formHelp {
  display: block;
  font-size: 15px; 
}
