.label,
label .label {
    display: inline;
    padding: 0;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius: inherit;
}


select[size] {
  width: auto;
  height: auto;
}

#form-widgets-body_text_format,
.pat-textareamimetypeselector {
  display: none;
}

input[type="text"][name*='.css_class'],
input[type="text"][name*='.button_text'],
input[type="text"].text-widget.textline-field {
  max-width: 300px;
}

input[type="text"].text-widget.textline-field {
  display: inline-block;

  + input.searchButton {
    @extend .btn, .btn-default, .btn-sm;
    margin-top: -3px;
  }
}

.formHelp {
  display: block;
  font-size: 15px;
}


/** BARCELONETA */
// Normalize non-controls
// Restyle and baseline non-control form elements.
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: -webkit-min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #4d4d4d;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-weight: $regular;
}

// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.
// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  box-sizing: border-box;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple] {
  height: auto;
  min-width: 10em;
}
select[size="1"] {
  height: 34px;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Adjust output element
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #696969;
}