.portletAssignments {
    padding: 2rem 0 0;

    h4 {
        text-transform: uppercase;
    }

    .managedPortlet.portlet {
        .portletHeader > a {
            color: $link-color;
        }

        .portletHeader {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-bottom: 20px;
        }
    }

    .managedPortlet.inheritedPortlet {
        margin: 1rem;

        .portletHeader {
            border-bottom: 0;
            margin-bottom: 0;

            > a {
                color: $link-color;
            }
        }
    }

    .portlet-group {
        padding: 0 0 2rem;
    }

    .managedPortletActions {
        display: flex;
    }

    .blockedPortlet .managedPortletActions {
        opacity: 0.5;
    }
}
