// PLONE STYLES

%buttonSimple               { display: inline-block;
                              border: 1px solid $text-color;
                              display: inline-block;
                              text-transform: uppercase;
                              padding: 1em 4em;
                              font-weight: bold;
                              color: $text-color;
  &:focus,
  &:hover                   { color: $link-color;
                              border-color: $link-color;
  }
  @media (max-width: $screen-xs-max) { padding: 1em; }
}
%buttonSimpleRed            { @extend %buttonSimple;
                              background-color: $brand-primary;
                              border-color: $brand-primary;
                              color: #FFF;
  &:focus,
  &:hover                   { background-color: $text-color;
                              border-color: $text-color;
                              color: #FFF;
  }
}

.hiddenStructure { @extend .sr-only; }
.portalMessage   { @extend .alert; margin-top: 20px;
    &.info       { @extend .alert-info;
      span a     { @extend .btn, .btn-info, .btn-xs; font-size: 16px; text-transform: uppercase; font-weight: bold; }
    }
    &.warning    { @extend .alert-warning; }
    &.error      { @extend .alert-danger; }
}
.plone-btn-primary { @extend .btn-primary; }
.outer-wrapper .container > .row {  margin:0; }
#global_statusmessage { @extend .container; }
.label,
label .label {
    display: inline;
    padding: 0;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius: inherit;
}

// BARCELONETA DA ANNULLARE
.plone-breadcrumb ol > li + li:before { border:0; position: static; }
.plone-breadcrumb ol > li + li:after { display: none; }


// SOLO PER AUTENTICATI (FORM E INTERFACCIA)
// .userrole-authenticated           {
//     #main-container.row-offcanvas {
//         > .col-xs-12.col-sm-12    { max-width: 1150px; margin: 0 auto; float: none; font-size: 0.9em;}
//     }
//     .formControls                 { border: 0;
//                                     background: $tr none;
//                                     box-shadow: none;
//   }
// }

// FORM

select[size] { width: auto; height: 34px; }
#form-widgets-body_text_format,
.pat-textareamimetypeselector { display: none; }
input[type="text"][name*='.css_class'],
input[type="text"][name*='.button_text'],
input[type="text"].text-widget.textline-field { max-width: 300px;}
input[type="text"].text-widget.textline-field { display: inline-block;
  + input.searchButton { @extend .btn, .btn-default, .btn-sm;
                         margin-top: -3px;
  }
}
.formHelp { display: block; font-size: 15px; }


// VISTE PREDEFINITE
.template-standard_view {
    .entry              {
        .summary        { font-weight: bold;
                          font-size: 1.2em;
        }
    }
}
.template-listing_view .entry {clear: both;}
.documentByLine { font-size: 0.9em; display: inline;}
.template-summary_view {
    h2.tileItem        {
        .userrole-authenticated  & { display: inline; }
    }
}

// LA MODALE
/*
.plone-modal-wrapper { font-size: 16px; }
.plone-modal-header {
    h2              { font-family: $font-family-base;
                      font-weight: bold;
                      text-align: center;
                      font-size: 24px;
                      text-transform: uppercase;
    }
}
.plone-modal-footer      {
  .pattern-modal-buttons { text-align: center;
    input.button-field   { @extend .btn, .btn-default;
                           margin: 0 5px;
      &[id*='delete']    { @extend .btn-danger; }
    }
  }
}
.plone-modal-close       { @include make-fa('\f00d'); }
*/

// TINY
div.mce-edit-area,
body#tinymce { padding: 14px; }


// I REFERENCE WIDGETS (SELECT2)
.pattern-relateditems-container {
  ul.select2-choices            { padding: 10px;
    li.select2-search-choice    { background: #E7FB61 none;
                                  border-color: #B1C334;
      .pattern-relateditems-item-title { font-weight: bold; }
    }
  }
}
.select2-drop.select2-drop-active { border-color: #5897fb;
                                    border-left: 1px solid #5897fb;
                                    border-right: 1px solid #5897fb;
}
.select2-dropdown-open .select2-choices { border-color: #5897fb; }

.pattern-relateditems-dropdown .select2-results {
  .select2-result-label           { padding:0; cursor: default; }
  .select2-highlighted            { background-color: $tr;

  }
  .pattern-relateditems-result    { padding: 4px 30px 6px 26px;
                                    position: relative;
                                    border-bottom: 1px dashed #ccc;
    .pattern-relateditems-result-title { font-size: 0.95em; }
    .pattern-relateditems-buttons { right: 10px;
      a                           { color: #AAA;
        &:focus,
        &:hover                   { color: $brand-primary; }
      }
    }
  }
  .pattern-relateditems-active    { background-color: $tr;
    &:before                      { font-size: 13px;
                                    left: 4px;
                                    top: 0.7em;
                                    position: absolute;
                                    @include make-fa('\f111');
                                    color: $brand-primary;

    }
  }
}

// LOGIN FORM
[class*='template-login_'],
[class*='template-logged_']       {
  #content-core                   { width: 50%;
                                    max-width: 600px;
                                    padding: 0 0 40px;
                                    margin: 30px auto 0;
    @media (max-width: $screen-xs-max) {
      width: auto;
    }
  }
  // #login-form                     { padding-bottom: 30px;
  //                                   @extend .form-horizontal;
  //   .field                        { @extend .form-group;
  //     label                       { @extend .col-xs-5, .control-label; }
  //     input                       { @extend .form-control, .col-xs-5;
  //                                   width: 50%;
  //     }
  //   }
  //   .formControls                 { text-align: center;
  //     input.context               { @extend %buttonSimpleRed;
  //                                   padding: 0.5em 1.6em !important;
  //     }
  //   }
  // }
  #login-forgotten-password       { text-align: center; }
  #viewlet-below-content {
    display: none;
  }
}

// LOST PASSWORD
[class*='template-mail_password_form']        {
  #content                        { @extend .container;
    .documentDescription          { max-width: 650px; margin: {left: auto; right: auto};}
  }
  #content-core                   { width: 50%;
                                    max-width: 650px;
                                    padding: 0 0 40px;
  }
  #mail_password                  { padding: 30px 0;
                                    @extend .form-horizontal;
    legend                        { display: none; }
    .field                        { @extend .form-group;
    //  label                       { @extend .col-xs-5, .control-label; }
    //  input                       { @extend .form-control, .col-xs-5;
    //                                width: 50%;
    //  }
    }
    .formControls                 { text-align: center;
      input.context               { @extend %buttonSimpleRed;
                                    padding: 0.5em 1.6em !important;
      }
    }
  }
}

// CONTACT INFO
.template-contact-info            {
  #content                        { @extend .container;
    .documentDescription          { text-align: center; }
    form                          { max-width: 600px; margin: 0 auto;
      .field                      { @extend .form-group;
        label                     { @extend .control-label;
          .formHelp               { font-weight: normal;
                                    color: #999;
          }
        }
        textarea,
        input[type="text"]        { width: 100%;
                                    padding: 0.3em 0.5em;
                                    max-width: none !important;
        }
      }
      .formControls               { text-align: center;
        input[type='submit']      { @extend %buttonSimpleRed;
                                    padding: 0.5em 1.6em !important;
      }
    }
    }
    #content-core                 { padding: 40px 0; }
  }
}

// ALBUM VIEW
.template-album_view              {
  #content-core                   { display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-around;
    > .visualClear { display: none;}
    .photoAlbumEntry              { margin-bottom: 20px;
                                    border: 1px solid #DDD;
                                    width: 220px;
      a                           { display: block;
                                    height: 100%;
                                    display: flex;
                                    flex-flow: column;
                                    justify-content: center;
                                    text-align: center;
                                    padding: 10px;
        &:focus,
        &:hover                   { background-color: #F0F0F0 ; }
        span                      { display: block;
          &.photoAlbumEntryWrapper { padding-bottom: 10px; }
          &.photoAlbumEntryTitle { text-overflow: ellipsis; overflow: hidden; line-height: 1.2em;}
        }
      }
      &.photoAlbumFolder          { border-color: #999;
                                    background-color: #EEE;
        .photoAlbumEntryTitle     { font-weight: bold;
          &:before                { @include make-fa('\f07c'); }
        }
      }
    }
  }
}

// STANDARD VIEW
.template-listing_view            {
  #content-core                   {
    .entry                        { margin: 10px 0;
      p.description               { margin:0 0 0 1em;
                                    font-size: 0.85em;
                                    color: lighten($text-color, 20%);
      }
    }
  }
}

// SUMMARY VIEW
.template-summary_view            {
  #content-core                   { padding-bottom: 40px;  }
  .tileItem                       { @extend .clearfix;
                                    padding: 12px 0;
                                    border-bottom: 1px solid #CCC;
    h2.tileHeadline               { font-size: $font-size-h3;
                                    margin-top:0;
    }
    .documentByLine               { display: block;
                                    margin-top: -0.6em;
                                    font-size: 0.85em;
                                    color: lighten($text-color, 20%);
                                    margin-bottom: 1em;
    }
    .tileImage                    { float: left; margin: 0 10px 5px 0;}
    .tileImageNoFloat + .tileFooter { display: none; }
  }
}

// TABLE VIEW
.template-tabular_view            {
  table.listing                   { @extend .table, .table-striped; }
  #content-core                   { padding-bottom: 40px;  }
}
table {
  @extend .table, .table-bordered;
  width: auto;
}

///// FONT ICONE (ma solo nei menu) //////
.portletNavigationTree {
  [class*="contenttype-"]:before {
    @include make-fa('\f016');
  }
  .contenttype-folder:before {  content: '\f114';}
  .contenttype-document:before {  content: '\f0f6';}
  .contenttype-file:before {    }
  .contenttype-link:before {    content: '\f0c1';}
  .contenttype-image:before {   content: '\f1c5';}
  .contenttype-collection:before {content: '\f0c5';}
  .contenttype-event:before {   content: '\f073';}
  .contenttype-news-item:before { content: '\f1ea';}
}


.image-icon, .image-tile {
  float:right;
}

// CRONOLOGIA
#history-list {
  @extend .table, .table-striped;
}

// TOC
#parent-fieldname-text.pat-autotoc .autotoc-nav {
  float: none;
  border: 0;
  padding: 0.8em 0;

  a {
    padding-left: 1.4em;
    position: relative;
    margin-bottom: 0.2em !important;

      &:before {
        @include make-fa('\f01a');
        position: absolute;
        top:0.05em;
        left: 0;
        color: $text-color;
      }
    }

  .autotoc-level-1 {
    margin: 0;
    padding-left: 0;
    &:before {
      display: none;
    }
  }
  .autotoc-level-2 {
    margin: 0;
  }
  .autotoc-level-3,
  .autotoc-level-4,
  .autotoc-level-5,
  .autotoc-level-6 {
    padding-left: 1em;

    &:before {
      content: '\f105';
    }
  }
}
