.PageHeaderWrapper {
  .header-infos {
    p {
      margin-bottom: 0.5rem;
    }
  }

  .header-image {
    max-width: 16em;
    max-height: 8em;
  }

  .link-list-wrapper .link-list {
    li a {
      margin-bottom: 0.9rem;
      line-height: 1.4rem;
    }

    li:last-child a {
      margin-bottom: 0;
    }
  }
  .readingtime-dates {
    small {
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 0.8rem;
      color: $caption-text;
    }

    p.font-monospace {
      font-size: 1rem;
      line-height: 1.16rem;
      letter-spacing: 0.96px;
      color: $body-color;
      margin-top: 0.2em;
    }
  }
}
