body.cms-ui {
  .it-header-wrapper,
  .public-ui {
    font-size: 18px;
    font-weight: 300;

    * {
      font-family: 'Titillium Web';
    }

    h3 {
      margin-top: 0;
    }
  }

  .it-footer {
    display: none;
  }

  .react-select__menu {
    z-index: 11;
  }

  .SingleDatePicker {
    z-index: unset;
    .DateInput {
      z-index: 0;
    }
    .SingleDatePicker_picker {
      z-index: 10;
    }
  }
}
