/***
******************+++
Questo file definisce alcune variabili aggiuntive per design-volto-theme
******************+++
**/

//cms
$placeholder: #b8c6c9 !default;

//site
$primary-text: #fff !default;
$secondary-text: #fff !default;
$tertiary: #be2816 !default;
$tertiary-text: #fff !default;
$font-family-monospace-light: Roboto Mono Light;

$argument-icon-color: $tertiary !default;
$argument-icon-bg: #f5f6f7 !default;
