/***
******************+++
Questo file definisce alcune variabili aggiuntive per design-volto-theme
******************+++
**/

//cms
$placeholder: #b8c6c9;

//site
$tertiary: #be2816;
$tertiary-text: #fff;
