/***!!! questo file servirà solo nei progetti figli di design-volto-theme. al momento è usato per capire come utilizzare le variabili**/

//cms
$placeholder: #b8c6c9;

//site
$primary: #002b54;
$secondary: #2e7495;
$link-color: $secondary;
$tertiary: #fed505;
$tertiary-text: $primary;

/*
$indigo: hsb(243, 70, 100) !default;
$purple: hsb(243, 40, 100) !default;
$pink: hsb(350, 30, 100) !default;
$red: hsb(351, 75, 97) !default;
$orange: hsb(36, 100, 100) !default;
$yellow: hsb(44, 55, 100) !default;
$green: hsb(159, 100, 80) !default;
$teal: hsb(178, 95, 85) !default;
$cyan: hsb(178, 100, 100) !default;
$blue: hsb(210, 100, 90) !default;
$light: hsb(255, 5, 95) !default;
$dark: hsb(210, 70, 30) !default;
$yiq-text-light: $white !default;
$yiq-text-dark: $black !default;

$red-accessible: hsb(351, 75, 85) !default;
$orange-accessible: hsb(36, 100, 65) !default;
$yellow-accessible: hsb(44, 100, 59) !default;
$green-accessible: hsb(159, 100, 53) !default;

$gray-primary: hsb(210, 38.9, 44.3) !default;
$gray-secondary: hsb(210, 29, 51) !default;
$gray-tertiary: hsb(205, 35, 54) !default;
$gray-quaternary: hsb(238, 1, 100) !default;
$gray-border: hsb(240, 1, 70) !default;
$gray-disabled: hsb(225, 5, 95) !default;
$gray-label-disabled: hsb(222, 5, 79) !default;
$gray-border-disabled: hsb(224, 8, 95) !default;

$secondary: $gray-secondary !default;

// Light Greys A
$lightgrey-a1: #e8f2fc;
$lightgrey-a2: #edf5fc;
$lightgrey-a3: #f2f7fc;
$lightgrey-a4: #f5f9fc;

// Light Greys B
$lightgrey-b1: #e6f0fa;
$lightgrey-b2: #ebf2fa;
$lightgrey-b3: #edf4fa;
$lightgrey-b4: #f2f6fa;

// Light Greys C
$lightgrey-c1: #f7f9fa;
$lightgrey-c2: #f5f6f7;

// Link and button colors
$btn-primary-bg: $primary;
$btn-primary-border: $primary;
$link-color: $primary;
*/
