.ui.table {
  font-family: $font-family-base;

  &.celled {
    @extend .table-bordered;
  }

  &.fixed {
    table-layout: fixed;
  }

  &.striped {
    @extend .table-striped;
  }

  &.compact {
    @extend .table-sm;
  }

  &.very.basic {
    border: none;

    th,
    td {
      &:first-of-type {
        border-left: none;
      }

      &:last-of-type {
        border-right: none;
      }
    }

    tbody > tr {
      &:first-of-type {
        th,
        td {
          border-top: none;
        }
      }

      th,
      td {
        border-bottom: none;
      }
      border-width: 0;
    }
  }

  &.inverted {
    @extend .table-dark;
    a {
      color: color-contrast($primary);
      &:hover {
        text-decoration: none;
      }
    }
    .blockquote,
    .blockquote-card {
      border-color: color-contrast($primary) !important;
    }
    .blockquote-card {
      box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
      &.dark {
        background-color: color-contrast($primary);
        color: $text-color;
        a {
          color: $link-color;
        }
      }
    }
  }

  &:not(.inverted) {
    th {
      background-color: $neutral-1-a1;
    }
  }

  th,
  td {
    p:first-of-type:last-of-type {
      margin: 0;
    }
  }
}
