#toolbar {
  .avatar {
    display: flex;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
  }

  //VOLTO TODO
  //start
  .toolbar {
    .toolbar-body {
      .button > .icon:not(.button) {
        opacity: 1;
      }
    }
  }
  //end
}
