.gdpr-privacy-banner {
  .close-button {
    color: #000;

    &:hover,
    &:active,
    &:focus {
      background-color: #fff !important;
    }
  }

  .gdpr-privacy-settings {
    .ui.checkbox {
      position: relative;
      display: inline-block;
      min-width: 17px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      font-size: 1rem;
      font-style: normal;
      line-height: 17px;
      outline: none;
      vertical-align: baseline;

      label {
        position: relative;
        display: block;
        font-size: 1em;
        outline: none;
        transition: color 0.1s ease;

        &:before {
          left: 0;
          transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease,
            box-shadow 0.1s ease;
        }

        &:after {
          color: rgba(0, 0, 0, 0.87);
          text-align: center;
        }
      }

      input[type='radio'] {
        position: absolute;
        top: 0px;
        left: 0px;
        cursor: pointer;
        opacity: 0 !important;
        outline: none;
      }

      input:indeterminate ~ label:after {
        font-size: 0.85714286rem;
      }

      input[disabled] ~ label {
        cursor: default !important;
        opacity: 0.5;
      }

      input.hidden + label {
        cursor: pointer;
        user-select: none;
      }

      input:checked ~ label:before {
        border: 1px solid $primary;
        background: #ffffff;
        box-shadow: none;
      }

      input:focus ~ label {
        color: #878f93;
      }

      &.toggle {
        min-height: 1.5rem;

        input {
          width: 3.5rem;
          height: 1.5rem;

          ~ label:after {
            left: -0.05rem;
            box-shadow: none;
          }

          &.hidden {
            z-index: -1;
          }

          &:checked {
            ~ label {
              &:before {
                background-color: $primary;
              }

              &:after {
                left: 2.15rem;
                box-shadow: none;
              }
            }
          }
        }

        label {
          min-height: 1.5rem;
          padding-top: 0.15em;
          color: rgba(0, 0, 0, 0.87);

          &:before {
            position: absolute;
            z-index: 1;
            top: 0rem;
            display: block;
            width: 3.5rem;
            height: 1.5rem;
            border: none;
            background: rgba(0, 0, 0, 0.05);
            border-radius: 500rem;
            box-shadow: none;
            content: '';
            transform: none;
          }

          &:after {
            position: absolute;
            z-index: 2;
            top: 0rem;
            width: 1.5rem;
            height: 1.5rem;
            border: none;
            background: #ffffff
              linear-gradient(transparent, rgba(0, 0, 0, 0.05));
            border-radius: 500rem;
            content: '' !important;
            opacity: 1;
            transition: background 0.3s ease, left 0.3s ease;
          }
        }
      }

      &.fitted {
        width: 3.5rem;

        label {
          padding-left: 0em !important;
        }
      }
    }
  }
}
