@import '../../site-variables';

@import '~bootstrap-italia/src/scss/functions';
@import '~bootstrap-italia/src/scss/utilities/colors_vars';
@import '~bootstrap-italia/src/scss/variables';
@import '~bootstrap-italia/src/scss/utilities/colors';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import 'mixin';
