h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-b5;
}

.full-width {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw !important;
  max-width: initial !important;
  height: 480px;
  margin-right: -50vw !important;
  margin-left: -50vw !important;
  object-fit: cover;

  .has-toolbar & {
    left: calc(50% + 40px);
    width: calc(100vw - 80px) !important;
  }

  .has-toolbar-collapsed & {
    left: calc(50% + 10px);
    width: calc(100vw - 20px) !important;
  }
}

.public-ui {
  .card.bigborder {
    border-left-width: 10px !important;
  }

  .link-esterni {
    .card-title {
      border-bottom: 1px solid $neutral-1-a2;
    }
  }

  .slick-slide {
    figure {
      width: 95%;
    }
  }

  .header {
    margin-bottom: 10px !important;
    font-size: 14px;
  }

  .card-title {
    margin: 0 !important;
    margin-bottom: 10px !important;
    line-height: 1rem;

    a {
      color: $primary;
      font-size: 18px;
      line-height: 26px;
    }
  }

  .link-list-wrapper {
    ul {
      li {
        button.btn-link {
          color: $primary;

          &:hover {
            color: $primary;

            .icon {
              fill: $primary;
            }
          }
        }
      }
    }
  }
}

.style_ol_list {
  ol {
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: flex;
      padding: 10px;

      border: 1px solid $neutral-1-a1;

      border-left-width: 10px;
      margin-bottom: 20px;
      margin-left: 70px;

      border-radius: 4px;

      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

      counter-increment: inst;

      &:last-child:before {
        height: calc(100% + 2px);
        padding-bottom: 20px;
      }

      &:before {
        position: absolute;
        top: 0;
        left: -70px;
        display: flex;
        width: 50px;
        height: calc(100% + 22px);

        align-items: center;
        justify-content: center;

        padding-bottom: 42px;

        border-right: 1px solid currentColor;
        color: $secondary;

        content: counter(inst);

        font-family: Roboto Mono Thin;
        font-size: 40px;

        line-height: 1;
      }

      &:after {
        position: absolute;
        top: calc(50% - 4px);
        left: -25px;
        width: 9px;
        height: 9px;
        background-color: $secondary;
        border-radius: 50%;

        content: '';
      }
    }
  }
}
