body.contenttype-unita-organizzativa {
  #ulteriori_informazioni p {
    margin: 0;
  }

  #persone-struttura {
    a {
      margin: 0 10px;
    }

    a:first-of-type {
      margin-left: 0;
    }
  }
}
