#page-document {	
	@media print {
		// remove blocks apart cardWithImageTemplate
		.block:not(.cardWithImageTemplate):not(.image) {
			display: none;
		}

		.block.image {
			max-width: 50%;
			margin: 0 auto;
		}

		div.block.listing.cardWithImageTemplate {
			.full-width {
				left: unset!important;
				right: unset!important;
				width: 100% !important;
				margin-right: 0 !important;
				margin-left: 0 !important;

				.container {
					padding-left: 0 !important;
					max-width: 100%!important;

					.items.row {
						justify-content: center;
					}
					.col-item {
						max-width: 33%;
					};
				}
			}
		}
	}
}