name: Unit Tests
on: [push]
jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Main checkout
        uses: actions/checkout@v4

      - name: Run unit tests
        run: make test-ci
