.argumentInEvidence {
  .argumentInEvidence-background {
    background-color: $subsite-primary;
  }

  &::before {
    background-color: $subsite-primary;
  }

  h2 {
    color: $subsite-primary-text;
  }
}
