.portalMessage {
    @extend .alert;
    margin: $grid-gutter-width;

    &.info {
        @extend .alert-info;
        color: #004d73;

        span a {
            @extend .btn, .btn-info, .btn-xs;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: $semibold;
        }
    }
    &.warning {
        background-color: #fcf8e3;
        color: #6e4b00;
        border-color: #faebcc;
    }
    &.error {
        background-color: #ffe6e6;
        color: #a00000;
        border-color: #ebccd1;
    }
}
